<md-dialog class="pixelconDialog colorLight" ng-class="ctrl.screenSize" aria-label="Submit PixelCon">
	
	<!-- Header -->
	<div class="dialogTitle">{{ctrl.title}}</div>
	<div class="pixelconContainer md-whiteframe-1dp" ng-if="ctrl.pixelconIds.length == 1"><pixelcon id="ctrl.pixelconIds[0]"></pixelcon></div>
	<div class="multiPixelconContainer" ng-if="ctrl.pixelconIds.length > 1">
		<pixelcon ng-if="ctrl.pixelconIds[0]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[0]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[1]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[1]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[2]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[2]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[3]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[3]"></pixelcon>
	</div>
	
	<!-- Error View -->
	<div class="view" ng-show="ctrl.currView=='error'" ng-cloak>
		<div class="infoText errorTitle textSelectable" ng-bind-html="ctrl.error"></div>
	</div>
	
	<!-- Loading View -->
	<div class="view" ng-show="ctrl.currView=='loading'" ng-cloak>
		<div class="loadingIcon">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		<div class="infoText">Verifying...</div>
	</div>
	
	<!-- Create View -->
	<div class="view" ng-if="ctrl.currView=='create'" ng-cloak>
		<div class="infoText createTitle">Name and Create</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.pixelconName" ng-change="ctrl.filterPixelconName()" placeholder="Name" ng-trim="false"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">{{ctrl.pixelconIds.length}} <span class="textSmall">PixelCon{{ctrl.pixelconIds.length > 1 ? 's' : ''}}</span></div>
			<md-button ng-click="ctrl.create()">Create</md-button>
		</div>
		<div class="textNote termsNote">By creating this PixelCon, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Edit View -->
	<div class="view" ng-if="ctrl.currView=='rename'" ng-cloak>
		<div class="infoText createTitle">Rename and Update</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.pixelconName" ng-change="ctrl.filterPixelconName()" placeholder="Name" ng-trim="false"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">{{ctrl.pixelconIds.length}} <span class="textSmall">PixelCon{{ctrl.pixelconIds.length > 1 ? 's' : ''}}</span></div>
			<md-button ng-click="ctrl.update()">Update</md-button>
		</div>
		<div class="textNote termsNote">By updating this PixelCon, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Duplicate View  -->
	<div class="view textCenter" ng-show="ctrl.currView=='duplicate'" ng-cloak>
		<div class="infoText duplicateTitle">PixelCon already exists</div>
		<a ng-href="/details/{{ctrl.pixelconIds[0]}}" class="plain textDark">
			<md-button class="md-raised">View</md-button>
		</a>
	</div>
	
	<!-- Multi Create View -->
	<div class="view" ng-show="ctrl.currView=='multiCreate'" ng-cloak>
		<div class="infoText createTitle"><b>Create Pixelcons</b></div>
		<div class="infoText">Are you sure?</div>
		<div class="infoText"></div>
		<div class="actionButtons">
			<div class="note textLight">{{ctrl.pixelconIds.length}} <span class="textSmall">PixelCon{{ctrl.pixelconIds.length > 1 ? 's' : ''}}</span></div>
			<md-button ng-click="ctrl.create()">Create</md-button>
		</div>
		<div class="textNote termsNote">By creating these PixelCons, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
