<md-dialog class="pixelconDialog colorLight" ng-class="ctrl.screenSize" aria-label="Submit PixelCon">
	
	<!-- Header -->
	<div class="dialogTitle">{{ctrl.title}}</div>
	<div class="pixelconContainer md-whiteframe-1dp"><pixelcon id="ctrl.pixelconId"></pixelcon></div>
	
	<!-- Error View -->
	<div class="view" ng-show="ctrl.currView=='error'" ng-cloak>
		<div class="infoText errorTitle textSelectable" ng-bind-html="ctrl.error"></div>
	</div>
	
	<!-- Loading View -->
	<div class="view" ng-show="ctrl.currView=='loading'" ng-cloak>
		<div class="loadingIcon">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		<div class="infoText">Verifying...</div>
	</div>
	
	<!-- Similarity Acknowledge View -->
	<div class="view" ng-if="ctrl.currView=='similarityAcknowledge'" ng-cloak>
		<div class="infoText approveTitle"><b>Similar PixelCon</b></div>
		<div class="textCenter">
			<div class="similarPixelconIcon" ng-class="{'verified': ctrl.match.verified}"></div>
			<a ng-href="/details/{{ctrl.match.id}}" class="plain textDark" target="_blank">
				<div class="similarPixelcon md-whiteframe-1dp">
					<div class="similarPixelconShade">#{{ctrl.match.index}}</div>
					<pixelcon id="ctrl.match.id"></pixelcon>
				</div>
			</a>
		</div>
		<div class="infoText" ng-if="!ctrl.match.verified && ctrl.match.level > 2">Your creation is too similar to this already created PixelCon. Try making it more unique</div>
		<div class="infoText" ng-if="!ctrl.match.verified && ctrl.match.level <= 2">Your creation is very similar to this already created PixelCon. Are you sure you want to continue?</div>
		<div class="infoText" ng-if="ctrl.match.verified">Your creation is a near replica of your previous work. Are you sure you want to continue?</div>
		<div class="actionButtons">
			<div class="note textLight">1 <span class="textSmall">PixelCon</span></div>
			<md-button ng-click="ctrl.currView='create'" ng-if="ctrl.match.verified || ctrl.match.level <= 2">Acknowledge</md-button>
		</div>
	</div>
	
	<!-- Create View -->
	<div class="view" ng-if="ctrl.currView=='create'" ng-cloak>
		<div class="infoText createTitle">Name and Create</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.pixelconName" ng-change="ctrl.filterPixelconName()" placeholder="Name" ng-trim="false"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">1 <span class="textSmall">PixelCon</span></div>
			<md-button ng-click="ctrl.create()">Create</md-button>
		</div>
		<div class="textNote termsNote">By creating this PixelCon, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Edit View -->
	<div class="view" ng-if="ctrl.currView=='rename'" ng-cloak>
		<div class="infoText createTitle">Rename and Update</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.pixelconName" ng-change="ctrl.filterPixelconName()" placeholder="Name" ng-trim="false"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">1 <span class="textSmall">PixelCon</span></div>
			<md-button ng-click="ctrl.update()">Update</md-button>
		</div>
		<div class="textNote termsNote">By updating this PixelCon, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Duplicate View  -->
	<div class="view textCenter" ng-show="ctrl.currView=='duplicate'" ng-cloak>
		<div class="infoText duplicateTitle">PixelCon already exists</div>
		<a ng-href="/details/{{ctrl.pixelconId}}" class="plain textDark" target="_blank">
			<md-button class="md-raised">View</md-button>
		</a>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
