/* General */
div.pixelconAccountPage {
	width: 100%;
}
div.pixelconAccountPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconAccountPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconAccountPage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconAccountPage.sm div.bottomSpacer {
	height: 20px;
}
div.pixelconAccountPage .accountPageTransition,
div.pixelconAccountPage .accountPageTransition .ng-hide-add,
div.pixelconAccountPage .accountPageTransition .ng-hide-remove {
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
}

/* Account Card Container */
div.pixelconAccountPage div.accountCard {
	width: calc(100% - 60px);
	max-width: 1420px;
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconAccountPage.sm div.accountCard {
	width: calc(100% - 16px);
}
div.pixelconAccountPage .selectionButtonContainer {
	padding: 0px 10px;
	height: 50px;
}
div.pixelconAccountPage .actionButton {
	margin: 1px;
}
div.pixelconAccountPage div.selectionText {
	display: inline-block;
	text-align: right;
	padding: 10px;
}
div.pixelconAccountPage div.countText {
	text-align: right;
	width: 100%;
	padding: 10px;
}
div.pixelconAccountPage div.helpText {
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	box-sizing: border-box;
	color: #fff;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

/* Account Card Container: Header */
div.pixelconAccountPage div.accountHeader {
	position: relative;
    text-align: right;
    padding: 5px 7px;
    height: 45px;
}
div.pixelconAccountPage div.accountHeader accounticon {
	position: absolute;
	left: 7px;
	top: 4px;
}
div.pixelconAccountPage div.accountHeader md-select {
	display: inline-block;
	margin: 0px;
}
div.pixelconAccountPage div.accountHeader div.buttonContainer {
	display: inline-block;
	margin-top: 5px;
}
div.pixelconAccountPage div.accountHeader div.actionButtons {
	display: inline-block;
	border: #c4c4c4 solid 0px;
	border-left-width: 1px;
	padding-left: 5px;
}
div.pixelconAccountPage .iconButton {
	margin: 0px;
}
div.pixelconAccountPage .sortDesc {
	background-image: url("/img/icon_down.svg");
}
div.pixelconAccountPage .sortAsc {
	background-image: url("/img/icon_up.svg");
}
div.pixelconAccountPage .market {
	background-image: url("/img/icon_tag.svg");
}
div.pixelconAccountPage .more {
	background-image: url("/img/icon_more.svg");
}
div.pixelconAccountPage .share {
	background-image: url("/img/icon_share.svg");
}
div.pixelconAccountPage.sm .sortBy .md-select-icon {
	width: 5px;
}

/* Account Card Container: Pixelcon Window */
div.pixelconAccountPage div.displayWindow {
	position: relative;
	width: 100%;
	border-radius: 15px;
	min-height: 300px;
}
div.pixelconAccountPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -50px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	border-radius: 15px;
}
div.pixelconAccountPage div.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px -50px;
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
}
div.pixelconAccountPage div.displayTable {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 20px;
	font-size: 0px;
}
div.pixelconAccountPage.md div.displayTable {
	padding: 15px;
}
div.pixelconAccountPage.sm div.displayTable {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.pixelconAccountPage .pixelconCard {
	display: inline-block;
	position: relative;
	margin: 12px;
	margin-bottom: 20px;
}
div.pixelconAccountPage.md .pixelconCard {
	margin: 9px;
	margin-bottom: 18px;
}
div.pixelconAccountPage.sm .pixelconCard {
	margin: 6px;
	margin-bottom: 16px;
}
