@use "src/styles/params" as params;

/* General items */
$marginRatio: params.$margin-ratio;
$marginStart: params.$size-large;
$marginPivot: $marginStart - ($marginRatio * $marginStart);
.container {
  background-color: rgba(params.$color-background, 0.7);
  position: absolute;
  width: calc(100% - 10px);
  text-align: left;
  font-size: 0px;
  @media (min-width: $marginStart) {
    max-width: calc($marginPivot + (100% * $marginRatio));
    margin-left: calc(((100% - 100% * $marginRatio) / 2) - ($marginPivot / 2));
  }
}

/* Size dependent items with parametrized rendering */
@mixin styling($sizeSmall, $sizeMedium) {
  /* Parameters */
  $chipHeight: 26px;
  $chipMargin: 6px;
  $chipSidePadding: 7px;
  @if $sizeSmall {
    $chipHeight: 24px;
    $chipMargin: 5px;
    $chipSidePadding: 5px;
  } @else if $sizeMedium {
    $chipHeight: 24px;
    $chipMargin: 5px;
    $chipSidePadding: 5px;
  }
  $fontSize: params.$text-size-default;
  $iconSize: $fontSize * 1.3;

  /* Filtering text */
  .filtering {
    line-height: $chipHeight + ($chipMargin * 2);
    font-size: $fontSize;
    vertical-align: middle;
    margin: 0px 0px 0px ($chipMargin * 2);
  }

  /* Filter chip */
  .chip {
    height: $chipHeight;
    line-height: $chipHeight;
    margin: $chipMargin;
    display: inline-block;
    font-size: 0px;
    background-color: params.$color-modal;
    padding: 0px (($chipHeight - $fontSize) / 2) + $chipSidePadding;
    border-radius: $chipHeight / 2;
    vertical-align: middle;
    span {
      font-size: $fontSize;
      vertical-align: middle;
    }
    div:last-child {
      height: $chipHeight;
      width: $chipHeight;
      display: inline-block;
      vertical-align: middle;
      background-image: url(/icons/close.svg);
      background-size: $fontSize * 1.3;
      margin-right: $chipSidePadding - ($iconSize / 2) -
        ($chipHeight - $fontSize)/2;
    }
  }

  /* Top spacer */
  .spacer {
    height: $chipHeight + ($chipMargin * 2);
  }
}
@media (max-width: params.$size-small) {
  @include styling($sizeSmall: true, $sizeMedium: true);
}
@media (max-width: params.$size-medium) and (min-width: params.$size-small) {
  @include styling($sizeSmall: false, $sizeMedium: true);
}
@media (min-width: params.$size-medium) {
  @include styling($sizeSmall: false, $sizeMedium: false);
}
