<!-- Account Icon Directive -->
<div class="accountIconDirectiveContainer textNotSelectable" 
		ng-class="{'xs':ctrl.size=='xs', 'sm':ctrl.size=='sm', 'md':ctrl.size=='md', 'lg':ctrl.size=='lg', 'xl':ctrl.size=='xl', 'clickable':ctrl.clickable}" 
		ng-mouseenter="dirHover=true" ng-mouseleave="dirHover=false" ng-click="ctrl.iconClicked()">
	
	<!-- Signature Mode -->
	<div class="accountIconDirectiveInline accountIconDirectiveRight" ng-if="ctrl.mode=='signature'">
		<div class="accountIconDirectiveInline accountIconDirectiveNormalText accountIconDirectiveBottom textBold"
				ng-class="{'textMedium':ctrl.size=='sm'||ctrl.size=='md', 'textLarge':ctrl.size=='lg'}">{{ctrl.text}}</div>
		<div class="accountIconDirectiveInline accountIconDirectiveIcon signature" ng-class="{'colorWhite':!ctrl.isReserveAddress, 'colorDark':ctrl.isReserveAddress}">
			<div class="accountIconDirectiveIconContainer">
				<img class="crispImage" style="width:100%; height:100%" ng-src="{{ctrl.addressIcon}}"/>
				<img class="crispImage" style="width:100%; height:100%; margin-top:-100%" src="/img/logo_s.png" ng-if="ctrl.isReserveAddress"/>
			</div>
		</div>
	</div>
	<div class="accountIconDirectiveInline accountIconDirectiveNormalText accountIconDirectiveRight textSelectable textLight" 
			ng-class="{'textExSmall':ctrl.size=='sm'||ctrl.size=='md', 'textSmall':ctrl.size=='lg'}"
			ng-if="ctrl.mode=='signature'&&!ctrl.isReserveAddress">
		{{ctrl.getCompressedAddressString(ctrl.address)}}
	</div>
	<div class="accountIconDirectiveInline accountIconDirectiveNormalText accountIconDirectiveRight textSelectable textLight" 
			ng-class="{'textExSmall':ctrl.size=='sm'||ctrl.size=='md', 'textSmall':ctrl.size=='lg'}"
			ng-if="ctrl.mode=='signature'&&ctrl.isReserveAddress">
		<a class="textDark textBold" href="https://twitter.com/messages/compose?recipient_id=1051304043564453888">Please contact us if you are the original artist</a>
	</div>
		
	<!-- Icon Mode -->
	<div class="accountIconDirectiveInline accountIconDirectiveIcon icon" ng-class="{'colorWhite':ctrl.text}" ng-if="ctrl.mode=='icon'">
		<div class="accountIconDirectiveIconContainer">
			<img class="crispImage" style="width:100%; height:100%" ng-src="{{ctrl.addressIcon}}"/>
			<div class="accountIconDirectiveIconGotoCover accountIconDirectiveFull" ng-class="{'accountIconDirectiveTransition': ctrl.loaded}" ng-show="dirHover && ctrl.clickable">
				<div class="accountIconDirectiveIconGotoIcon accountIconDirectiveFull"></div>
			</div>
		</div>
	</div>
	<div class="accountIconDirectiveInline" ng-if="ctrl.mode=='icon' && ctrl.text">
		<div class="accountIconDirectiveInline accountIconDirectiveText accountIconDirectiveLeft textBold" 
				ng-class="{'textMedium':ctrl.size=='sm', 'textLarge':ctrl.size=='lg'||ctrl.size=='md'}">{{ctrl.text}}</div>
		<div class="accountIconDirectiveInline accountIconDirectiveText accountIconDirectiveLeft textSelectable textSmall textLight">{{ctrl.getCompressedAddressString(ctrl.address)}}</div>
	</div>
</div>
