/* General */
accounticon {
	display: block;
}
accounticon .accountIconDirectiveContainer {
	display: inline-block;
    vertical-align: top;
}
accounticon .accountIconDirectiveFull {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
accounticon .accountIconDirectiveTransition,
accounticon .accountIconDirectiveTransition .ng-hide-add,
accounticon .accountIconDirectiveTransition .ng-hide-remove {
	transition: all cubic-bezier(.35,0,.25,1) 0.05s;
}
accounticon .ng-hide {
	opacity: 0;
}

/* Main Appearance */
accounticon .accountIconDirectiveInline {
	display: inline-block;
    vertical-align: top;
}
accounticon .accountIconDirectiveIconContainer {
	position: relative;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	font-size: 0px;
}
accounticon .accountIconDirectiveIcon.icon {
	margin-right: 5px;
}
accounticon .accountIconDirectiveIcon.signature {
	margin-left: 5px;
}
accounticon .accountIconDirectiveIconCover {
	background-color: rgba(254, 254, 254, 0.4);
}
accounticon .accountIconDirectiveIconGotoCover {
	background-color: rgba(51, 51, 51, 0.4);
}
accounticon .accountIconDirectiveIconGotoIcon {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_goto_w.svg");
	background-size: 24px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
accounticon .accountIconDirectiveNormalText {
	line-height: normal;
	padding-bottom: 2px;
}
accounticon .accountIconDirectiveLeft {
	float: left;
	clear: left;
}
accounticon .accountIconDirectiveRight {
	float: right;
	clear: right;
}
accounticon .accountIconDirectiveBottom {
	vertical-align: bottom;
}

/* Size: sm */
accounticon .accountIconDirectiveContainer.sm .accountIconDirectiveIcon {
	width: 40px;
	height: 40px;
}
accounticon .accountIconDirectiveContainer.sm .accountIconDirectiveText {
	line-height: 20px;
}

/* Size: md */
accounticon .accountIconDirectiveContainer.md .accountIconDirectiveIcon {
	width: 48px;
	height: 48px;
}
accounticon .accountIconDirectiveContainer.md .accountIconDirectiveText {
	line-height: 24px;
}

/* Size: lg */
accounticon .accountIconDirectiveContainer.lg .accountIconDirectiveIcon {
	width: 56px;
	height: 56px;
}
accounticon .accountIconDirectiveContainer.lg .accountIconDirectiveText {
	line-height: 28px;
}
