<!-- Account Icon Directive -->
<div class="accountIconDirectiveContainer textNotSelectable" 
		ng-class="{'xs':ctrl.size=='xs', 'sm':ctrl.size=='sm', 'md':ctrl.size=='md', 'lg':ctrl.size=='lg', 'xl':ctrl.size=='xl', 'clickable':ctrl.clickable}" 
		ng-mouseenter="dirHover=true" ng-mouseleave="dirHover=false">
	
	<!-- Signature Mode -->
	<div class="accountIconDirectiveInline accountIconDirectiveRight" ng-if="ctrl.mode=='signature'">
		<div class="accountIconDirectiveInline accountIconDirectiveNormalText accountIconDirectiveBottom textBold"
				ng-class="{'textMedium':ctrl.size=='sm'||ctrl.size=='md', 'textLarge':ctrl.size=='lg'}">{{ctrl.text}}</div>
		<div class="colorWhite accountIconDirectiveInline accountIconDirectiveIcon">
			<div class="accountIconDirectiveIconContainer">
				<img class="crispImage" style="width:100%; height:100%" ng-src="{{ctrl.addressIcon}}"/>
			</div>
		</div> 
	</div>
	<div class="accountIconDirectiveInline accountIconDirectiveNormalText accountIconDirectiveRight textSelectable textLight" 
			ng-class="{'textExSmall':ctrl.size=='sm'||ctrl.size=='md', 'textSmall':ctrl.size=='lg'}" ng-if="ctrl.mode=='signature'">
		{{ctrl.getCompressedAddressString(ctrl.address)}}
	</div>
		
	<!-- Icon Mode -->
	<a ng-href="{{ctrl.clickable?('/creator/'+ctrl.address):''}}" class="plain textDark">
		<div class="accountIconDirectiveInline accountIconDirectiveIcon" ng-class="{'colorWhite':ctrl.text}" ng-if="ctrl.mode=='icon'">
			<div class="accountIconDirectiveIconContainer">
				<img class="crispImage" style="width:100%; height:100%" ng-src="{{ctrl.addressIcon}}"/>
				<div class="accountIconDirectiveIconGotoCover accountIconDirectiveFull" ng-class="{'accountIconDirectiveTransition': ctrl.loaded}" ng-show="dirHover && ctrl.clickable">
					<div class="accountIconDirectiveIconGotoIcon accountIconDirectiveFull"></div>
				</div>
			</div>
		</div>
		<div class="accountIconDirectiveInline" ng-if="ctrl.mode=='icon' && ctrl.text">
			<div class="accountIconDirectiveInline accountIconDirectiveText accountIconDirectiveLeft textBold" 
					ng-class="{'textMedium':ctrl.size=='sm', 'textLarge':ctrl.size=='lg'||ctrl.size=='md'}">{{ctrl.text}}</div>
			<div class="accountIconDirectiveInline accountIconDirectiveText accountIconDirectiveLeft textSelectable textSmall textLight">{{ctrl.getCompressedAddressString(ctrl.address)}}</div>
		</div>
	</a>
</div>
