<div class="pixelconDetailsPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="detailsCard colorLight">
	
		<!-- Image window -->
		<div class="viewWindow colorDark">
			<div ng-hide="ctrl.pixelconId" class="pixelconInvalid textWhite textExxLarge">Invalid ID</div>
			<md-menu md-position-mode="target-right target">
				<div class="shareLink clickable" ng-click="$mdOpenMenu()" aria-label="Share"></div>
				<md-menu-content class="shareLinksContextMenu">
					<md-menu-item>
						<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url"></div>Copy URL</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="ctrl.shareOnFacebook()"><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="ctrl.shareOnTwitter()"><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<div class="viewWindowGroupContainer" ng-show="ctrl.details.collection" ng-click="ctrl.goPath('/collection/'+ctrl.details.collection.index)">
				<div class="viewWindowGroup colorDarkOverlay" ng-class="{'detailsPageTransition': ctrl.loaded, 'onlyThree':!ctrl.details.collection.pixelcons[3].id && ctrl.details.collection.pixelcons[2].id}">
					<div class="viewWindowGroupElement" ng-if="ctrl.details.collection.pixelcons[0].id"><pixelcon id="ctrl.details.collection.pixelcons[0].id"></pixelcon></div>
					<div class="viewWindowGroupElementSpacer" ng-if="!ctrl.details.collection.pixelcons[3].id && ctrl.details.collection.pixelcons[2].id"></div>
					<div class="viewWindowGroupElement" ng-if="ctrl.details.collection.pixelcons[1].id"><pixelcon id="ctrl.details.collection.pixelcons[1].id"></pixelcon></div>
					<div class="viewWindowGroupElement" ng-if="ctrl.details.collection.pixelcons[2].id"><pixelcon id="ctrl.details.collection.pixelcons[2].id"></pixelcon></div>
					<div class="viewWindowGroupElement" ng-if="ctrl.details.collection.pixelcons[3].id"><pixelcon id="ctrl.details.collection.pixelcons[3].id"></pixelcon></div>
					<div class="viewWindowGroupCover colorDark"><div class="viewWindowGroupCoverIcon"></div></div>
				</div>
				<div class="viewWindowGroupName colorDarkOverlay textBold textMedium" ng-class="{'detailsPageTransition': ctrl.loaded}">
					{{ctrl.details.collection.name?ctrl.details.collection.name:('Collection '+ctrl.details.collection.index)}}
				</div>
			</div>
			<div ng-show="ctrl.pixelconId" class="pixelconImage">
				<pixelcon id="ctrl.pixelconId"/>
			</div>
		</div>
		
		<!-- Details -->
		<div class="detailsSection textSelectable">
			<div class="detailsSectionId textLight" ng-show="ctrl.pixelconId">{{ctrl.pixelconId}}</div>
			<div class="detailsInnerSection" ng-hide="ctrl.error || ctrl.loading || ctrl.unclaimed" ng-cloak>
				<div class="detailsSectionMenuBar" ng-cloak>
					<div ng-show="ctrl.details.name!==''" class="textDark textExxLarge textBold">{{ctrl.details.name}}</div>
					<div ng-show="ctrl.details.name===''" class="textLight textExxLarge">PixelCon {{ctrl.details.index}}</div>
					<div class="detailsSectionMoreButton" ng-show="ctrl.isOwner || ctrl.isCreator">
						<md-menu md-position-mode="target-right target">
							<md-button class="iconButton moreMenu" ng-click="$mdOpenMenu()" aria-label="More"></md-button>
							<md-menu-content>
								<md-menu-item ng-show="ctrl.isCreator">
									<md-button ng-click="ctrl.rename($event)">Change Name</md-button>
								</md-menu-item>
								<md-menu-item ng-show="ctrl.isOwner">
									<md-button ng-click="ctrl.send($event)">Send To</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</div>
				<accounticon class="textLight" address="ctrl.details.creator" text="Creator" max-chars="16" size="{{ctrl.screenSize.sm?'sm':'md'}}" clickable="true"></accounticon>
				<div class="detailsSectionLineItems textMedium textLight">
					{{ctrl.details.date}}<br/>
					{{ctrl.details.number}}<br/>
				</div>
				<div class="detailsSectionFooter">
					<accounticon class="textLight" address="ctrl.details.owner" mode="signature" size="{{ctrl.screenSize.sm?'md':'lg'}}" text="Owned By"></accounticon>
				</div>
				
				<!-- Market Details -->
				<div class="marketDetailsContainer textNotSelectable" ng-if="ctrl.marketEnabled">
					<a class="actionButton clickable textBold textWhite" ng-href="{{ctrl.marketLink}}" target="_blank">
						{{ctrl.isOwner?'Sell':'Buy'}}<div class="marketIcon"></div>
					</a>
				</div>
				
			</div>
		</div>
		
		<!-- Error -->
		<div class="error" ng-show="ctrl.error">
			<b>Ethereum Network Error:</b><br/>{{ctrl.error}}
		</div>
		
		<!-- Loading icon -->
		<div class="loading" ng-show="ctrl.loading">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		
		<!-- Unclaimed -->
		<div class="unclaimed" ng-show="ctrl.unclaimed">
			<b>This PixelCon has not been created yet</b><br/><br/>
			<md-button class="create md-raised md-primary" ng-click="ctrl.create($event)">Create!</md-button>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
