/* General */
div.pixelconDetailsPage {
	width: 100%;
}
div.pixelconDetailsPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconDetailsPage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage.sm div.bottomSpacer {
	height: 10px;
}
div.pixelconDetailsPage .detailsPageTransition,
div.pixelconDetailsPage .detailsPageTransition .ng-hide-add,
div.pixelconDetailsPage .detailsPageTransition .ng-hide-remove {
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
}
div.pixelconDetailsPage .ng-hide {
	opacity: 0;
}

/* Details Card Container */
div.pixelconDetailsPage div.detailsCard {
	width: 400px;
	border-radius: 15px;
	min-height: 540px;
	margin: 0 auto;
}
div.pixelconDetailsPage.sm div.detailsCard {
	width: 325px;
	min-height: 450px;
}

/* Card Image */
div.pixelconDetailsPage div.viewWindow {
	position: relative;
	width: 100%;
	height: 375px;
	border-radius: 15px;
}
div.pixelconDetailsPage.sm div.viewWindow {
	height: 280px;
}
div.pixelconDetailsPage div.viewWindowGroupContainer {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 0px;
	cursor: pointer;
}
div.pixelconDetailsPage
	div.viewWindowGroupContainer:hover
	div.viewWindowGroupCover {
	opacity: 1;
}
div.pixelconDetailsPage div.viewWindowGroup {
	display: inline-block;
	position: relative;
	max-width: 48px;
	padding: 1px;
}
div.pixelconDetailsPage div.viewWindowGroup.onlyThree {
	border-top-right-radius: 55%;
}
div.pixelconDetailsPage.sm div.viewWindowGroup {
	max-width: 40px;
}
div.pixelconDetailsPage div.viewWindowGroupCover {
	position: absolute;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	top: 2px;
	left: 2px;
	background-color: rgba(51, 51, 51, 0.4);
	transition: opacity cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
	opacity: 0;
}
div.pixelconDetailsPage div.viewWindowGroup.onlyThree div.viewWindowGroupCover {
	border-top-right-radius: 55%;
}
div.pixelconDetailsPage div.viewWindowGroupCoverIcon {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_goto_w.svg");
	background-size: 24px;
	opacity: 0.8;
}
div.pixelconDetailsPage.sm div.viewWindowGroupCoverIcon {
	background-size: 20px;
}
div.pixelconDetailsPage div.viewWindowGroupElement {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 2px;
}
div.pixelconDetailsPage.sm div.viewWindowGroupElement {
	width: 16px;
	height: 16px;
}
div.pixelconDetailsPage div.viewWindowGroupElementSpacer {
	display: inline-block;
	width: 15px;
}
div.pixelconDetailsPage div.viewWindowGroupName {
	display: inline-block;
	vertical-align: bottom;
	padding: 3px;
}
div.pixelconDetailsPage.sm div.viewWindowGroupName {
	padding: 2px;
}
div.pixelconDetailsPage div.pixelconInvalid {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 256px;
	height: 256px;
	line-height: 256px;
	margin-left: -128px;
	margin-top: -128px;
	background-color: #000000;
	text-align: center;
}
div.pixelconDetailsPage.sm div.pixelconInvalid {
	width: 192px;
	height: 192px;
	line-height: 192px;
	margin-left: -96px;
	margin-top: -96px;
}
div.pixelconDetailsPage div.pixelconImage {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 256px;
	height: 256px;
	margin-left: -128px;
	margin-top: -128px;
}
div.pixelconDetailsPage.sm div.pixelconImage {
	width: 192px;
	height: 192px;
	margin-left: -96px;
	margin-top: -96px;
}

/* Card Details */
div.pixelconDetailsPage div.detailsSection {
	padding: 5px;
}
div.pixelconDetailsPage div.detailsInnerSection {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
div.pixelconDetailsPage div.detailsSectionId {
	font-size: 10px;
	font-family: monospace;
	font-weight: bold;
}
div.pixelconDetailsPage.sm div.detailsSectionId {
	font-size: 8px;
}
div.pixelconDetailsPage div.detailsSectionMenuBar {
	position: relative;
	width: 100%;
	height: 48px;
	line-height: 45px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 36px;
	line-height: 0px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton button {
	margin: 0px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton .more {
	background-image: url("/img/icon_more.svg");
}
div.pixelconDetailsPage div.detailsSectionMoreButton .share {
	background-image: url("/img/icon_share.svg");
}
div.pixelconDetailsPage div.detailsSectionMoreButton .buy {
	background-image: url("/img/icon_tag.svg");
}
div.pixelconDetailsPage div.detailsSectionLineItems {
	padding-top: 2px;
	line-height: 28px;
}
div.pixelconDetailsPage.sm div.detailsSectionLineItems {
	line-height: 26px;
}
div.pixelconDetailsPage div.detailsSectionFooter {
	width: 100%;
	text-align: right;
}

/* Share links */
.shareLinksContextMenu a:link,
.shareLinksContextMenu a:visited,
.shareLinksContextMenu a:hover,
.shareLinksContextMenu a:active {
	margin: 0px;
	padding: 0px;
}
.shareLinksContextMenu button.md-button {
	text-transform: none;
	margin: 0px;
	padding: 0px 16px;
	width: 100%;
	text-align: left;
}
.shareLinksContextMenu md-menu-item {
	min-height: 36px;
	height: 36px;
}
.shareLinksContextMenu button {
	height: 36px;
}
.shareLinksContextMenu div.shareLinkIcon {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: sub;
	background-size: 18px;
	margin-right: 8px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.shareLinksContextMenu div.shareLinkIcon.url {
	background-image: url(/img/icon_link.svg);
}
.shareLinksContextMenu div.shareLinkIcon.facebook {
	background-image: url(/img/icon_facebook.svg);
}
.shareLinksContextMenu div.shareLinkIcon.twitter {
	background-image: url(/img/icon_twitter.svg);
}

/* Error/Loading/Unclaimed */
div.pixelconDetailsPage div.error {
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
}
div.pixelconDetailsPage div.loading {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	padding-bottom: 100px;
	padding-top: 46px;
}
div.pixelconDetailsPage.sm div.loading {
	padding-bottom: 88px;
	padding-top: 35px;
}
div.pixelconDetailsPage div.unclaimed {
	text-align: center;
	margin-top: 20px;
}
