/* General */
div.pixelconDetailsPage {
	width: 100%;
}
div.pixelconDetailsPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconDetailsPage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage.sm div.bottomSpacer {
	height: 10px;
}
div.pixelconDetailsPage .detailsPageTransition,
div.pixelconDetailsPage .detailsPageTransition .ng-hide-add,
div.pixelconDetailsPage .detailsPageTransition .ng-hide-remove {
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
}
div.pixelconDetailsPage .ng-hide {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* Details Card Container */
div.pixelconDetailsPage div.detailsCard {
	width: 380px;
	border-radius: 15px;
	min-height: 540px;
	margin: 0 auto;
}
div.pixelconDetailsPage.sm div.detailsCard {
	width: 300px;
	min-height: 450px;
}

/* Card Image */
div.pixelconDetailsPage div.viewWindow {
	position: relative;
	width: 100%;
	height: 360px;
	border-radius: 15px;
}
div.pixelconDetailsPage.sm div.viewWindow {
	height: 282px;
}
div.pixelconDetailsPage div.pixelconInvalid {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 272px;
	height: 272px;
	line-height: 272px;
	margin-left: -136px;
	margin-top: -136px;
	background-color: #000000;
	text-align: center;
}
div.pixelconDetailsPage.sm div.pixelconInvalid {
	width: 216px;
	height: 216px;
	line-height: 216px;
	margin-left: -108px;
	margin-top: -108px;
}
div.pixelconDetailsPage div.pixelconImage {
	position: absolute;
	box-shadow: 0px 0px 8px #33333387;
	top: 50%;
	left: 50%;
	width: 272px;
	height: 272px;
	margin-left: -136px;
	margin-top: -136px;
}
div.pixelconDetailsPage.sm div.pixelconImage {
	width: 216px;
	height: 216px;
	margin-left: -108px;
	margin-top: -108px;
}
div.pixelconDetailsPage div.viewWindow div.windowIcon {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 16px 20px;
	transition: cubic-bezier(0.35, 0, 0.25, 1) 0.1s;
}
div.pixelconDetailsPage.sm div.viewWindow div.windowIcon {
    width: 50px;
    height: 50px;
    background-position: 11px 15px;
}
div.pixelconDetailsPage div.viewWindow div.windowIconTop {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 20px 16px;
	transition: cubic-bezier(0.35, 0, 0.25, 1) 0.1s;
}
div.pixelconDetailsPage.sm div.viewWindow div.windowIconTop {
    width: 50px;
    height: 50px;
    background-position: 15px 11px;
}
div.pixelconDetailsPage div.viewWindow div.windowIconTop.wallpaperIcon {
	background-image: url(/img/icon_wallpaper_w.svg);
	opacity: 0.0;
	filter: alpha(opacity=0);
}
div.pixelconDetailsPage div.viewWindow.hovering div.windowIconTop.wallpaperIcon {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
div.pixelconDetailsPage div.viewWindow div.windowIconTop.wallpaperIcon:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
}
div.pixelconDetailsPage div.viewWindow div.windowIcon.similarSearchIcon {
	background-image: url(/img/icon_similar_w.svg);
	opacity: 0.0;
	filter: alpha(opacity=0);
}
div.pixelconDetailsPage div.viewWindow.hovering div.windowIcon.similarSearchIcon {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
div.pixelconDetailsPage div.viewWindow div.windowIcon.similarSearchIcon:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
}
div.pixelconDetailsPage div.viewWindow div.windowIcon.similarIcon {
	background-image: url(/img/icon_copy_w.svg);
	opacity: 0.6;
	filter: alpha(opacity=60);
}
div.pixelconDetailsPage div.viewWindow div.windowIcon.similarIcon.verified {
	background-image: url(/img/icon_replica_w.svg);
}
div.pixelconDetailsPage div.viewWindow.hovering div.windowIcon.similarIcon {
	background-image: url(/img/icon_similar_w.svg);
}
div.pixelconDetailsPage div.viewWindow div.windowIcon.similarIcon:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
}
div.pixelconDetailsPage div.viewWindow div.similarPixelcon {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	left: 45px;
	padding: 3px;
	background-color: #ffffff85;
	border-radius: 3px;
	opacity: 0.0;
	filter: alpha(opacity=0);
	transition: cubic-bezier(0.35, 0, 0.25, 1) 0.1s;
}
div.pixelconDetailsPage.sm div.viewWindow div.similarPixelcon {
	width: 30px;
	height: 30px;
	bottom: 10px;
	left: 40px;
	padding: 3px;
}
div.pixelconDetailsPage div.viewWindow:hover div.similarPixelcon {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
div.pixelconDetailsPage div.viewWindow div.similarPixelcon:hover {
	background-color: #ffffffde;
	cursor: pointer;
}

/* Card Details */
div.pixelconDetailsPage div.detailsSection {
	padding: 5px;
}
div.pixelconDetailsPage div.detailsInnerSection {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
div.pixelconDetailsPage div.detailsSectionId {
	font-size: 10px;
	font-family: monospace;
	font-weight: bold;
}
div.pixelconDetailsPage.sm div.detailsSectionId {
	font-size: 7px;
}
div.pixelconDetailsPage div.detailsSectionMenuBar {
	position: relative;
	width: 100%;
}
div.pixelconDetailsPage div.detailsSectionMenuBar div.subText {
	margin-top: -3px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 36px;
	line-height: 0px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton button {
	margin: 0px;
}
div.pixelconDetailsPage div.detailsSectionMoreButton .more {
	background-image: url("/img/icon_more.svg");
}
div.pixelconDetailsPage div.detailsSectionMoreButton .share {
	background-image: url("/img/icon_share.svg");
}
div.pixelconDetailsPage div.detailsSectionMoreButton .buy {
	background-image: url("/img/icon_tag.svg");
}
div.pixelconDetailsPage div.detailsSectionLineItems {
	padding-top: 2px;
	line-height: 28px;
}
div.pixelconDetailsPage.sm div.detailsSectionLineItems {
	line-height: 26px;
}
div.pixelconDetailsPage div.detailsSectionFooter {
	width: 100%;
	text-align: right;
	margin-top: -10px;
}
div.pixelconDetailsPage div.groupContainer {
	font-size: 0px;
	cursor: pointer;
	margin-top: 4px;
	display: inline-block;
	min-width: 50%;
}
div.pixelconDetailsPage div.groupContainer div.groupIconContainer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	background-color: #c0c0c0;
	border-radius: 4px;
	padding: 1px;
}
div.pixelconDetailsPage.sm div.groupContainer div.groupIconContainer {
	width: 32px;
	height: 32px;
}
div.pixelconDetailsPage div.groupContainer div.groupTextStack {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 0px;
}
div.pixelconDetailsPage div.groupContainer div.groupText {
	display: inline-block;
	vertical-align: bottom;
}
div.pixelconDetailsPage div.groupContainer div.groupText.sm {
	font-size: 12px;
	margin-top: 2px;
}
div.pixelconDetailsPage div.groupContainer div.groupElement {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 1px;
}
div.pixelconDetailsPage.sm div.groupContainer div.groupElement {
	width: 14px;
	height: 14px;
}
div.pixelconDetailsPage div.groupContainer div.iconGotoCover {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 0px;
    height: 0px;
	background-color: rgba(51, 51, 51, 0.4);
}
div.pixelconDetailsPage div.groupContainer:hover div.iconGotoCover {
	width: 34px;
    height: 34px;
}
div.pixelconDetailsPage.sm div.groupContainer:hover div.iconGotoCover {
	width: 30px;
    height: 30px;
}
div.pixelconDetailsPage div.groupContainer div.gotoIcon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_goto_w.svg");
	background-size: 22px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* Error/Loading/Unclaimed */
div.pixelconDetailsPage div.error {
	text-align: center;
	line-height: 24px;
	margin-top: 25px;
	padding: 0px 20px;
}
div.pixelconDetailsPage div.loading {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	padding-top: 50px;
	padding-bottom: 60px;
}
div.pixelconDetailsPage.sm div.loading {
	padding-top: 40px;
	padding-bottom: 50px;
}
div.pixelconDetailsPage div.unclaimed {
	text-align: center;
	margin-top: 20px;
}
