/* General */
div.pixelconTermsPage {
	width: 100%;
}
div.pixelconTermsPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconTermsPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconTermsPage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconTermsPage.sm div.bottomSpacer {
	height: 20px;
}
div.pixelconTermsPage div.divider {
	width: 100%;
	height: 1px;
}

/* Terms Card Container */
div.pixelconTermsPage div.termsCard {
	box-sizing: border-box;
	width: calc(100% - 60px);
	max-width: 900px;
	border-radius: 15px;
	margin: 0 auto;
	padding: 15px;
}
div.pixelconTermsPage.sm div.termsCard {
	width: calc(100% - 16px);
}

/* Content */
div.pixelconTermsPage div.termsHeader {
	text-align: left;
}
