/* General */
div.pixelconCollectionPage {
	width: 100%;
	text-align: center;
}
div.pixelconCollectionPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconCollectionPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconCollectionPage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconCollectionPage.sm div.bottomSpacer {
	height: 20px;
}
div.pixelconCollectionPage div.maxWidth {
	width: calc(100% - 60px);
	max-width: 1280px;
	display: inline-block;
}
div.pixelconCollectionPage.sm div.maxWidth {
	width: calc(100% - 16px);
}
div.pixelconCollectionPage div.accountCard {
	display: inline-block;
	max-width: 100%;
	min-width: 500px;
	border-radius: 15px;
}
div.pixelconCollectionPage.sm div.accountCard {
	min-width: 340px;
}

/* Collection Card Container: Pixelcon Window */
div.pixelconCollectionPage div.displayWindow {
	position: relative;
	box-sizing: border-box;
	padding: 45px 30px 10px 30px;
	border-radius: 15px;
	min-height: 200px;
}
div.pixelconCollectionPage.sm div.displayWindow {
	padding: 45px 10px 5px 10px;
}
div.pixelconCollectionPage div.displayWindowGroupContainer {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0px;
}
div.pixelconCollectionPage div.displayWindowGroupContainer div.groupTextStack {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 0px;
	margin-top: -2px;
	min-height: 26px;
}
div.pixelconCollectionPage div.displayWindowGroupContainer div.groupIcon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
    background-image: url(/img/icon_group_w.svg);
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-size: contain;
}
div.pixelconCollectionPage.sm div.displayWindowGroupContainer div.groupIcon {
	top: 20px;
	left: 15px;
}
div.pixelconCollectionPage div.displayWindowGroupContainer div.groupTextLarge {
	font-size: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: bottom;
	color: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconCollectionPage div.displayWindowGroupContainer div.groupTextSmall {
	font-size: 12px;
	height: 12px;
	font-weight: bold;
	display: inline-block;
	vertical-align: bottom;
	color: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconCollectionPage div.displayTable {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
div.pixelconCollectionPage .pixelconCard {
	display: inline-block;
	margin: 12px;
	margin-bottom: 20px;
}
div.pixelconCollectionPage.md .pixelconCard {
	margin: 9px;
	margin-bottom: 18px;
}
div.pixelconCollectionPage.sm .pixelconCard {
	margin: 6px;
	margin-bottom: 16px;
}
div.pixelconCollectionPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -38px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	border-radius: 15px;
}
div.pixelconCollectionPage div.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px -50px;
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
}
div.pixelconCollectionPage .shareLink {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url(/img/icon_share.svg);
	background-size: contain;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
div.pixelconCollectionPage .shareLink:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* Card Details */
div.pixelconCollectionPage div.detailsSection {
	padding: 5px;
	text-align: left;
	min-height: 88px;
}
div.pixelconCollectionPage div.detailsInnerSection {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
div.pixelconCollectionPage div.detailsSectionMoreButton {
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 0px;
}
div.pixelconCollectionPage div.detailsSectionMoreButton button {
	margin: 0px;
}
div.pixelconCollectionPage div.detailsSectionMoreButton .more {
	background-image: url("/img/icon_more.svg");
}
div.pixelconCollectionPage div.detailsSectionMoreButton .share {
	background-image: url("/img/icon_share.svg");
}
div.pixelconCollectionPage div.detailsSectionMoreButton .buy {
	background-image: url("/img/icon_tag.svg");
}
div.pixelconCollectionPage div.detailsSectionBottomText {
	display: inline-block;
	vertical-align: bottom;
}
div.pixelconCollectionPage div.detailsSectionTopText {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 3px;
}
div.pixelconCollectionPage div.detailsSectionTopTextContainer {
	font-size: 0px;
}
div.pixelconCollectionPage div.detailsSectionTopTextName {
	display: inline-block;
	vertical-align: bottom;
}
div.pixelconCollectionPage div.detailsSectionTopTextCollection {
	display: inline-block;
	vertical-align: bottom;
}
div.pixelconCollectionPage div.detailsSectionFooter {
	width: 100%;
	text-align: right;
}
div.pixelconCollectionPage div.detailsSectionFooter.large {
	margin-top: -20px;
}
