<div class="pixelconCreatorPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="maxWidth" ng-style="{'max-width': ctrl.getMaxWidth()}">
		<div class="accountCard colorLight">
			
			<!-- Viewer window -->
			<div class="displayWindow colorDark">
				<div class="displayWindowAccountContainer">
					<div class="accountIcon">
						<div class="accountIconShade colorDarkOverlay"></div>
						<accounticon address="ctrl.creator" size="sm"></accounticon>
					</div>
					<div class="accountText">Creator</div>
				</div>
			
				<!-- Error -->
				<div class="error colorLight textSelectable" ng-show="ctrl.error" ng-bind-html="ctrl.error"></div>
			
				<!-- Empty -->
				<div class="error colorLight textSelectable" ng-show="!ctrl.error && !ctrl.loading && ctrl.pixelcons.length===0">
					No PixelCons
				</div>
			
				<!-- Loading -->
				<div class="loading colorLight" ng-show="ctrl.loading">
					<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
				</div>
			
				<!-- PixelCon -->
				<div class="displayTable">
					<pixelconcard class="pixelconCard" pixelcon="pixelcon" size="{{(ctrl.screenSize.sm)?'xs':(ctrl.screenSize.md?'sm':'md')}}" ng-repeat="pixelcon in ctrl.pixelcons track by $index"></pixelconcard>
				</div>
			</div>

			<!-- Details -->
			<div class="detailsSection textSelectable">
				<div class="detailsInnerSection" >
					<div class="detailsSectionMenuBar">
						<div class="textLight textExLarge textBold">Creator Portfolio</div>
						<div class="textSmall textLight">{{ctrl.creator}}</div>
						<div class="detailsSectionMoreButton textNotSelectable" ng-hide="ctrl.error || ctrl.loading">
							<md-button class="iconButton buy" aria-label="Buy/Sell" ng-if="ctrl.marketEnabled">
								<a class="plain buttonLink" ng-href="{{ctrl.marketLink}}" target="_blank"></a>
								<md-tooltip md-direction="left">Buy/Sell</md-tooltip>
							</md-button>
							<md-menu md-position-mode="target-right target">
								<md-button class="iconButton share" ng-click="$mdOpenMenu()" aria-label="Share">
								</md-button>
								<md-menu-content class="shareLinksContextMenu">
									<md-menu-item>
										<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url"></div>Copy URL</md-button>
									</md-menu-item>
									<md-menu-item>
										<a ng-href="{{ctrl.shareOnFacebook()}}" target="_blank" class="textDark">
											<md-button><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
										</a>
									</md-menu-item>
									<md-menu-item>
										<a ng-href="{{ctrl.shareOnTwitter()}}" target="_blank" class="textDark">
											<md-button><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
										</a>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
					</div>
					<div class="detailsSectionFooter textLight textSmall" ng-hide="ctrl.error || ctrl.loading">
						<div class="detailsSectionMenuBarText textBold">{{ctrl.pixelcons.length}}</div> 
						{{ctrl.pixelcons.length==1?'PixelCon':'PixelCons'}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
