<div class="header md-whiteframe-1dp" ng-class="ctrl.screenSize">
	
	<!-- Buttons -->
	<a ng-href="{{ctrl.marketLink}}" target="_blank" class="marketButton plain textDark" ng-if="ctrl.marketEnabled">
		<md-button class="md-raised">
			<div class="buttonIcon market"></div>
			{{ctrl.screenSize.sm?'':'Market'}}
		</md-button>
	</a>
	<div layout="row" class="menuButtons">
		<a href="/search" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='browse'}" ng-click="ctrl.goPath('/search')">
				<div class="buttonIcon search"></div>
				{{ctrl.screenSize.sm?'':(ctrl.screenSize.md?'BRW':'Browse')}}
			</md-button>
		</a>
		<a href="/create" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='create'}" ng-click="ctrl.goPath('/create')">
				<div class="buttonIcon create"></div>
				{{ctrl.screenSize.sm?'':(ctrl.screenSize.md?'CR8':'Create')}}
			</md-button>
		</a>
		<a href="/account" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='account'}" ng-show="ctrl.loggedIn" ng-click="ctrl.goPath('/account')">
				<div class="buttonIcon account"></div>
				{{ctrl.screenSize.sm?'':(ctrl.screenSize.md?'ACC':'Account')}}
			</md-button>
		</a>
		
		<a href="/start" class="plain textDark">
			<md-button class="start md-raised md-primary" ng-show="ctrl.noWeb3" ng-click="ctrl.goPath('/start')">Start</md-button>
		</a>
	</div>
	
	<!-- Title/Icon -->	
	<a href="/" class="textDark">
		<div class="pixelconTitle">
			<div class="pixelconLogo crispImage clickable" ng-click="ctrl.goPath('/')">
				<div class="pixelconLogoText textBold textDark textCenter">PixelCons</div>
			</div>	
		</div>
	</a>
	
	<!-- User Account -->
	<div ng-if="ctrl.privacyMode" class="accountIcon connectButton clickable textBold textSmall textWhite md-whiteframe-1dp" ng-click="ctrl.connect()">
		<img class="iconFill" ng-src="img/icon_account.svg"/>
		<div>Connect Account</div>
	</div>
	<div class="accountIcon md-whiteframe-1dp" ng-if="ctrl.web3error">
		<img class="iconFill" ng-src="img/icon_error.svg"/>
		<md-tooltip md-direction="bottom">Error Connecting to Network</md-tooltip>
	</div>
	<div class="accountIcon md-whiteframe-1dp" ng-if="ctrl.loggedIn && !ctrl.accountAddress && !ctrl.privacyMode">
		<img class="iconFill" ng-src="img/icon_account.svg"/>
		<md-tooltip md-direction="bottom">Please log into {{ctrl.web3ProviderName}}</md-tooltip>
	</div>
	<md-menu ng-if="ctrl.loggedIn && ctrl.accountAddress" md-position-mode="target-right target">
		<div class="accountIcon clickable crispImage md-whiteframe-1dp" ng-click="ctrl.showActivityMenu($mdOpenMenu)">
			<div class="iconFill" ng-mouseenter="ctrl.showActivityMenu($mdOpenMenu)" ng-mouseleave="ctrl.cancelActivityMenu()">
				<img class="iconFill" ng-src="{{ctrl.userIcon}}"/>
				<img ng-show="ctrl.waitingTransactions.length>0" class="iconFillOverlay crispImage" src="img/loading.gif"/>
			</div>
			<div class="tooltip" ng-class="{'hidden':ctrl.waitingTransactions.length==0}">Processing...</div>
		</div>
		<md-menu-content class="headerDropdown textMedium textNotSelectable" width="3" ng-mouseleave="ctrl.hideActivityMenu()">
			<div ng-if="ctrl.accountAddress">
				<a ng-href="{{ctrl.goDetails()}}" target="_blank" class="plain textDark">
					<div class="textCenter clickable">
						<div class="headerDropdownAccountIcon md-whiteframe-1dp">
							<img class="headerAccountActivityIcon" ng-src="{{ctrl.userIcon}}"/>
						</div>
						<div class="headerDropdownTextTop">
							<div class="textLarge textDark textBold">Account Activity</div><br/>
							<div class="textSmall textDark textBold">{{ctrl.userAccountId}}</div>
						</div>
						<div class="headerDropdownButtonLink"></div>
					</div>
				</a>
				<md-divider></md-divider>
				<div class="textCenter">
					<div class="headerDropdownText textLight" ng-show="ctrl.waitingTransactions.length==0">No Pending Transactions</div>
				</div>
				<md-button style="display:none" ng-click="" aria-label="null"></md-button>
				<div ng-repeat="transaction in ctrl.waitingTransactions track by $index" class="headerDropdownRow">
					<div ng-if="transaction.params.pixelconIds.length==1" class="headerDropdownIcon"><pixelcon class="md-whiteframe-1dp" id="transaction.params.pixelconIds[0]"></pixelcon></div>
					<div ng-if="transaction.params.pixelconIds.length>1" class="headerDropdownIconCollection">
						<pixelcon ng-if="transaction.params.pixelconIds[0]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[0]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[1]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[1]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[2]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[2]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[3]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[3]"></pixelcon>
					</div>
					<div class="headerDropdownTextItem textLight">{{transaction.description}}</div>
					<md-button class="headerDropdownButton md-primary" ng-click="">
						<div class="networkBadge" ng-class="ctrl.getNetworkClass(transaction.chainId)"></div>
						<span>View</span>
						<a class="plain buttonLink" ng-href="{{ctrl.goDetails(transaction.txHash, transaction.chainId)}}" target="_blank"></a>
					</md-button>
				</div>
				<div class="textCenter">
					<a class="light textSmall textDark textBold" href="/start" ng-click="ctrl.hideActivityMenu()">Get Started</a>
				</div>
			</div>
		</md-menu-content>
	</md-menu>
</div>
