<div class="header md-whiteframe-1dp" ng-class="ctrl.screenSize">

	<!-- Bad Network -->
	<div ng-if="ctrl.badNetwork" class="badNetwork md-whiteframe-3dp">
		<b>You are currently connected to the wrong Ethereum Network!</b><br/>Please make sure your account is connected to the {{ctrl.net}} Network
	</div>
	
	<!-- Buttons -->
	<a ng-href="{{ctrl.marketLink}}" target="_blank" class="marketButton plain textDark" ng-if="ctrl.marketEnabled">
		<md-button class="md-raised">
			<div class="buttonIcon market"></div>
			{{ctrl.screenSize.sm?'':'Market'}}
		</md-button>
	</a>
	<div layout="row" class="menuButtons">
		<a href="/search" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='browse'}" ng-click="ctrl.goPath('/search')">
				<div class="buttonIcon search"></div>
				{{ctrl.screenSize.sm?'BR':'Browse'}}
			</md-button>
		</a>
		<a href="/create" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='create'}" ng-click="ctrl.goPath('/create')">
				<div class="buttonIcon create"></div>
				{{ctrl.screenSize.sm?'CR':'Create'}}
			</md-button>
		</a>
		<a href="/account" class="plain textDark">
			<md-button class="nav" ng-class="{'highlight':ctrl.page=='account'}" ng-show="ctrl.loggedIn" ng-click="ctrl.goPath('/account')">
				<div class="buttonIcon account"></div>
				{{ctrl.screenSize.sm?'AC':'Account'}}
			</md-button>
		</a>
		
		<a href="/start" class="plain textDark">
			<md-button class="start md-raised md-primary" ng-show="ctrl.noWeb3" ng-click="ctrl.goPath('/start')">Start</md-button>
		</a>
	</div>
	
	<!-- Title/Icon -->	
	<a href="/" class="textDark">
		<div class="pixelconTitle">
			<div class="pixelconLogo crispImage clickable" ng-click="ctrl.goPath('/')">
				<div class="pixelconLogoText textBold textCenter">PixelCons</div>
				<div class="pixelconLogoTextOverlay textBold textCenter">L1</div>
			</div>	
		</div>
	</a>
	<div class="network textCenter" ng-if="ctrl.net" ng-class="{'mainnet':ctrl.net=='Mainnet', 'ropsten':ctrl.net=='Ropsten', 'kovan':ctrl.net=='Kovan', 'rinkeby':ctrl.net=='Rinkeby', 'goerli':ctrl.net=='Goerli'}">{{ctrl.net}}</div>
	
	<!-- User Account -->
	<div ng-if="ctrl.privacyMode" class="accountIcon connectButton clickable textBold textSmall textWhite md-whiteframe-1dp" ng-click="ctrl.connect()">
		<img class="iconFill" ng-src="img/icon_account.svg"/>
		<div>Connect Account</div>
	</div>
	<div class="accountIcon md-whiteframe-1dp" ng-if="ctrl.web3error">
		<img class="iconFill" ng-src="img/icon_error.svg"/>
		<md-tooltip md-direction="bottom">Error Connecting to Ethereum</md-tooltip>
	</div>
	<div class="accountIcon md-whiteframe-1dp" ng-if="ctrl.loggedIn && !ctrl.accountAddress && !ctrl.privacyMode">
		<img class="iconFill" ng-src="img/icon_account.svg"/>
		<md-tooltip md-direction="bottom">Please log into {{ctrl.web3ProviderName}}</md-tooltip>
	</div>
	<md-menu ng-if="ctrl.loggedIn && ctrl.accountAddress" md-position-mode="target-right target">
		<div class="accountIcon clickable crispImage md-whiteframe-1dp" ng-click="ctrl.showActivityMenu($mdOpenMenu)">
			<div class="iconFill" ng-mouseenter="ctrl.showActivityMenu($mdOpenMenu)" ng-mouseleave="ctrl.cancelActivityMenu()">
				<img class="iconFill" ng-src="{{ctrl.userIcon}}"/>
				<img ng-show="ctrl.waitingTransactions.length>0" class="iconFillOverlay crispImage" src="img/loading.gif"/>
			</div>
			<div class="tooltip" ng-class="{'hidden':ctrl.waitingTransactions.length==0}">Processing...</div>
		</div>
		<md-menu-content class="headerDropdown textMedium textNotSelectable" width="3" ng-mouseleave="ctrl.hideActivityMenu()">
			<div ng-if="ctrl.accountAddress">
				<a ng-href="{{ctrl.goDetails()}}" target="_blank" class="plain textDark">
					<div class="textCenter clickable">
						<img class="headerAccountActivityIcon md-whiteframe-1dp" ng-src="{{ctrl.userIcon}}"/>
						<div class="headerDropdownText textLarge textDark textBold">Account Activity</div>
						<div class="headerDropdownButtonLink"></div>
					</div>
				</a>
				<md-divider></md-divider>
				<div class="textCenter">
					<div class="headerDropdownText textLight" ng-show="ctrl.waitingTransactions.length==0">No Pending Transactions</div>
				</div>
				<div ng-repeat="transaction in ctrl.waitingTransactions track by $index">
					<div ng-if="transaction.params.pixelconId" class="headerDropdownIcon"><pixelcon class="md-whiteframe-1dp" id="transaction.params.pixelconId"></pixelcon></div>
					<div ng-if="transaction.params.pixelconIds" class="headerDropdownIconCollection">
						<pixelcon ng-if="transaction.params.pixelconIds[0]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[0]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[1]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[1]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[2]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[2]"></pixelcon>
						<pixelcon ng-if="transaction.params.pixelconIds[3]" class="md-whiteframe-1dp" id="transaction.params.pixelconIds[3]"></pixelcon>
					</div>
					<div class="headerDropdownTextItem textLight">{{transaction.description}}</div>
					<md-button class="headerDropdownButton md-primary" ng-click="">
						<span>View</span>
						<a class="plain buttonLink" ng-href="{{ctrl.goDetails(transaction.txHash)}}" target="_blank"></a>
					</md-button>
				</div>
				<div class="textCenter">
					<a class="light textSmall textDark textBold" href="/start" ng-click="ctrl.hideActivityMenu()">Get Started</a>
				</div>
			</div>
		</md-menu-content>
	</md-menu>
</div>
