@use "src/styles/params" as params;

html,
body {
  background-color: params.$color-background;
  color: params.$color-bright;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:
    Roboto,
    Helvetica Neue,
    sans-serif;
  font-size: params.$text-size-default;
}

#__next {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
