<md-dialog class="sendDialog colorLight" ng-class="ctrl.screenSize" aria-label="Send PixelCon">
	
	<!-- Header -->
	<div class="dialogTitle" ng-class="{'sendEthDialogTitle': ctrl.ethMode}">{{ctrl.title}}</div>
	<div class="pixelconContainer md-whiteframe-1dp" ng-if="!ctrl.ethMode && ctrl.pixelconIds.length == 1"><pixelcon id="ctrl.pixelconIds[0]"></pixelcon></div>
	<div class="multiPixelconContainer" ng-if="!ctrl.ethMode && ctrl.pixelconIds.length > 1">
		<pixelcon ng-if="ctrl.pixelconIds[0]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[0]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[1]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[1]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[2]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[2]"></pixelcon>
		<pixelcon ng-if="ctrl.pixelconIds[3]" class="md-whiteframe-1dp" id="ctrl.pixelconIds[3]"></pixelcon>
	</div>
	
	<!-- Error View -->
	<div class="view" ng-show="ctrl.currView=='error'" ng-cloak>
		<div class="infoText errorTitle textSelectable" ng-bind-html="ctrl.error"></div>
	</div>
	
	<!-- No Account Send View -->
	<div class="view" ng-if="ctrl.currView=='sendEthError'" ng-cloak>
		<div class="infoText noAccountTitle">
			<b>You can tip the Devs at the following Ethereum Address:</b>
			<br/><br/>
			<div class="addressFont textLight">{{ctrl.toAddress}}</div>
			<br/><br/>
			<div class="textMedium textDark">Thank You!</div>
		</div>
	</div>
	
	<!-- Loading View -->
	<div class="view" ng-if="ctrl.currView=='loading'" ng-cloak>
		<div class="loadingIcon">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		<div class="infoText">Verifying...</div>
	</div>
	
	<!-- Send PixelCon View -->
	<div class="view" ng-if="ctrl.currView=='sendPixelcon'" ng-cloak>
		<div class="infoText sendPixelconTitle">Enter Receiving Address</div>
		<md-input-container md-no-float class="addressInput textSmall md-block">
			<input md-autofocus ng-model="ctrl.toAddress" ng-change="ctrl.checkValid()" placeholder="Receiving Address"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">{{ctrl.pixelconIds.length}} <span class="textSmall">PixelCon{{ctrl.pixelconIds.length > 1 ? 's' : ''}}</span></div>
			<md-button ng-disabled="!ctrl.canSend" ng-click="ctrl.sendPixelcon()">Send</md-button>
		</div>
		<div class="textNote termsNote" ng-if="ctrl.pixelconIds.length == 1">By sending this PixelCon, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
		<div class="textNote termsNote" ng-if="ctrl.pixelconIds.length > 1">By sending these PixelCons, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Send Eth View -->
	<div class="view" ng-if="ctrl.currView=='sendEth'" ng-cloak>
		<div class="infoText sendEthTitle">Developer Address:</div>
		<div class="addressFont textLight">{{ctrl.toAddress}}</div>
		<md-input-container md-no-float class="amountInput md-block">
			<input md-autofocus ng-model="ctrl.sendAmount" ng-change="ctrl.checkValidAmount()" placeholder="Amount (Eth)" type="number" step="0.001"/>
		</md-input-container>
		<div class="actionButtons">
			<md-button ng-disabled="!ctrl.canSend" ng-click="ctrl.sendEth()">Tip!</md-button>
		</div>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
