/* General */
.printsDialog {
	position: relative;
	max-height: calc(100% - 40px);
	width: 1000px;
	max-width: calc(100% - 40px);
}
.printsDialog div.dialogTitle {
	width: 100%;
	text-align: center;
	margin-top: 8px;
	font-size: 22px;
}

/* Header */
.printsDialog div.printsIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.printsDialog div.printsIcon.wallpaper {
    background: url(/img/icon_wallpaper.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.printsDialog div.dialogCloseButton {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_close.svg");
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.printsDialog div.dialogCloseButton:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Inputs */
.printsDialog md-input-container label.dialogInputLabel {
	padding-left: 10px;
	width: calc(100% - 10px);
}
.printsDialog div.actionButtons {
	width: 100%;
	text-align: right;
}

/* Layout */
.printsDialog div.generatorContent {
	padding: 10px 20px 0px 20px;
	font-size: 0px;
	overflow: auto;
}
.printsDialog div.generatorPreview {
	position: relative;
	display: inline-block;
    vertical-align: top;
	background-color: #e2e2e2;
	max-width: 510px;
	max-height: 341px;
	width: 50vw;
	height: 33.3vw;
	min-width: 294px;
	min-height: 197px;
	border: solid 1px #acacac;
	box-sizing: border-box;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.printsDialog div.generatorPreview .spinner {
	position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
.printsDialog div.generatorPreview img.previewImage {
	width: 100%;
	height: 100%;
	opacity: 0.0;
	filter: alpha(opacity=0);
}
.printsDialog div.generatorButtonsSection {
	display: inline-block;
	margin-left: 10px;
}
.printsDialog div.generatorButtonsSectionLabel {
	margin-top: 10px;
}
.printsDialog div.generatorButtons {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 0px 10px;
	max-width: 430px;
    width: 35vw;
    min-width: 274px;
}
.selectOptionColorBlock {
	display: inline-block;
	width: 40px;
	height: 20px;
	vertical-align: bottom;
}
.printsDialog div.generatorButtons md-switch {
	margin: 0px;
}
.printsDialog div.generatorButtons md-switch[disabled] {
	color: rgba(0,0,0,0.38);
}
.printsDialog div.generatorButtons md-slider {
	height: 42px;
	margin-top: -6px;
}
.printsDialog div.generatorButtons md-input-container {
	margin-right: 10px;
	margin-bottom: 5px;
	vertical-align: top;
	height: 30px;
}
