<md-dialog class="marketListingDialog colorLight" ng-class="ctrl.screenSize" aria-label="Submit PixelCon Purchase">
	
	<div class="view" layout="row">
		<div class="dialogTitle">
			<div class="titleIconContainer colorYellow"><div class="titleStoreIcon"></div></div>
			{{ctrl.title}}
		</div>
		<div class="pixelconContainer md-whiteframe-1dp"><pixelcon id="ctrl.pixelconId"/></div>
			
		<!-- Buy View -->
		<div class="confirm" ng-if="ctrl.buyMode && !ctrl.error">
			<div class="lineItemTitle"><b>Please Confirm</b></div>
			<div layout="row">
				<div class="lineItemLabel">Price</div>
				<div class="lineItemValue">{{ctrl.price | ethprice}}</div>
			</div>
			<div layout="row">
				<div class="lineItemLabel">Dev Fee</div>
				<div class="lineItemValue">{{(ctrl.fee!==undefined)?(ctrl.fee | ethprice):'???'}}</div>
			</div>
			<div class="lineItemDivider"></div>
			<div layout="row">
				<div class="lineItemLabel">Total</div>
				<div class="lineItemValue">{{(ctrl.total!==undefined)?(ctrl.total | ethprice):'???'}}</div>
			</div>
			<div class="textNote note">
				The {{ctrl.feePercent!==undefined?ctrl.feePercent:'--'}}% Dev Fee only exists on the PixelCon Market contract and helps to pay for website/app upkeep.
				By purchasing this PixelCon, you agree to the <a class="link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a>
			</div>
			<md-button class="md-raised" ng-click="ctrl.confirmPurchase()" ng-disabled="ctrl.fee===undefined">Confirm</md-button>
		</div>
		
		<!-- Remove View -->
		<div class="confirm" ng-if="ctrl.removeMode && !ctrl.error">
			<br/><br/>
			<div class="lineItemTitle"><b>Please Confirm</b></div>
			<br/>
			<div class="textNote note noteNarrow">
				Your PixelCon Market listing will be removed and your PixelCon will be returned to you.
				By removing this listing, you agree to the <a class="link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a>
			</div>
			<md-button class="md-raised" ng-click="ctrl.confirmRemove()">Confirm</md-button>
		</div>
		
		<!-- Error View -->
		<div class="confirm" ng-if="ctrl.error">
			<br/><br/><br/>
			<div class="lineItemTitle"><b>No Account</b></div>
			<div ng-if="!ctrl.readOnly" class="textMedium textLight errorText">Please log into {{ctrl.providerName}} to purchase PixelCons</div>
			<div ng-if="ctrl.readOnly" class="textMedium textLight errorText">
				You need an Ethereum Account to purchase PixelCons<br/>
				<md-button class="startButton md-raised md-primary" ng-click="ctrl.goPath('/start')">Start</md-button>
			</div>
		</div>
	</div>
	
	<div class="costNote textLight">Gas: {{ctrl.cost | ethprice}}</div>
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
