/* General */
.similaritiesDialog {
	position: relative;
	min-height: 400px;
	max-height: 600px;
	width: 600px;
	max-width: calc(100% - 20px);
	margin-bottom: 200px;
}
.similaritiesDialog.sm {
	margin-bottom: 0px;
}
.similaritiesDialog div.view {
	position: relative;
	width: 100%;
	height: 100%;
}
.similaritiesDialog div.infoText {
	text-align: center;
	margin: 10px;
	min-height: 5px;
}
.similaritiesDialog div.actionButtons {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: right;
}

/* Header */
.similaritiesDialog div.similarSearchIcon {
    background: url(/img/icon_similar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.similaritiesDialog div.dialogCloseButton {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_close.svg");
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.similaritiesDialog div.dialogCloseButton:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.similaritiesDialog div.dialogTitle {
	width: 100%;
	text-align: center;
	margin-top: 8px;
	font-size: 22px;
}
.similaritiesDialog .md-errors-spacer {
	max-height: 0px;
	min-height: 0px;
}
.similaritiesDialog div.termsNote {
	display: inline-block;
	text-align: center;
	padding: 0px 40px 0px 40px;
}

/* Error View */
.similaritiesDialog div.errorTitle {
	margin-top: 100px;
}

/* Loading View */
.similaritiesDialog div.loadingIcon {
	margin: 0 auto;
	width: 80px;
	padding-top: 80px;
}

/* Result View */
.similaritiesDialog div.resultView {
	font-size: 0px;
	margin-bottom: 7px;
}
.similaritiesDialog div.resultContainer {
	display: inline-block;
	text-align: center;
	padding: 0px 10px 10px 10px;
	box-sizing: border-box;
	margin-top: 10px;
}
.similaritiesDialog div.resultContainer.full {
	width: 100%;
}
.similaritiesDialog div.containerTitle {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.similaritiesDialog div.resultTitleCopyIcon {
	display: inline-block;
	vertical-align: middle;
    background: url(/img/icon_copyex.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.similaritiesDialog div.resultTitleCopyText {
	display: inline-block;
	width: 135px;
	vertical-align: middle;
}
.similaritiesDialog div.containerPixelconScroll {
	width: 100%;
	max-height: 150px;
	overflow: hidden auto;
}
.similaritiesDialog div.containerPixelcon {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
	box-shadow: 1px 1px 8px #000000;
}
.similaritiesDialog div.containerPixelcon.large {
	width: 120px;
	height: 120px;
}
.similaritiesDialog div.containerPixelcon.small {
	width: 80px;
	height: 80px;
	box-shadow: 1px 1px 5px #000000;
}
.similaritiesDialog div.containerPixelcon.extrasmall {
	width: 60px;
	height: 60px;
	box-shadow: 1px 1px 5px #000000;
}
.similaritiesDialog div.containerPixelcon div.containerPixelconShade {
	display: none;
    font-size: 20px;
    line-height: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #eeeeee;
    background-color: #00000080;
    cursor: pointer;
}
.similaritiesDialog div.containerPixelcon.small div.containerPixelconShade {
    line-height: 80px;
}
.similaritiesDialog div.containerPixelcon.extrasmall div.containerPixelconShade {
    line-height: 60px;
    font-size: 16px;
}
.similaritiesDialog div.containerPixelcon:hover div.containerPixelconShade {
	display: block;
}
