@use "src/styles/params" as params;

/* General items */
$marginRatio: params.$margin-ratio;
$marginStart: params.$size-large;
$marginPivot: $marginStart - ($marginRatio * $marginStart);
.content {
  max-height: 100%;
}

/* Size dependent items with parametrized rendering */
@mixin styling($sizeSmall, $sizeMedium) {
  /* Parameters */
  $height: 60px;
  $logoHeight: 40px;
  $buttonHeight: 40px;
  $buttonPadding: 10px;
  @if $sizeSmall {
    $height: 50px;
    $logoHeight: 40px;
    $buttonHeight: 40px;
    $buttonPadding: 7px;
  } @else if $sizeMedium {
    $height: 50px;
    $logoHeight: 40px;
    $buttonHeight: 30px;
    $buttonPadding: 5px;
  }
  $logoMargin: ($height - $logoHeight) / 2;
  $buttonMargin: ($height - $buttonHeight) / 2;

  /* Header container */
  .header {
    background-color: rgba(params.$color-background, 0.7);
    width: 100%;
    height: $height;
    position: sticky;
    top: 0px;
  }

  /* Center logo */
  .logo {
    width: 180px;
    height: $height;
    margin: 0 auto;
    text-align: center;
    font-size: 0px;
    div {
      height: $logoHeight;
      width: $logoHeight * 1.5;
      margin: $logoMargin $logoMargin $logoMargin 0px;
      background-image: url(/archive/header_tmp.png);
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: 22px;
      font-weight: 600;
      vertical-align: middle;
      @if $sizeMedium {
        font-size: 18px;
      }
    }
  }

  /* Side buttons */
  .button {
    position: absolute;
    top: 0px;
    height: $buttonHeight;
    margin: $buttonMargin;
    line-height: $buttonHeight - ($buttonPadding * 2);
    padding: $buttonPadding ($buttonPadding + 4px);
    @if $sizeSmall {
      padding: $buttonPadding;
    }
    span {
      @if $sizeSmall {
        display: none;
      }
    }
    div {
      background-image: url(/icons/opensea.svg);
      width: ($buttonHeight - ($buttonPadding * 2)) - 4px;
      height: ($buttonHeight - ($buttonPadding * 2)) - 4px;
      margin: 2px 2px 2px 0px;
      @if $sizeSmall {
        width: $buttonHeight - ($buttonPadding * 2);
        height: $buttonHeight - ($buttonPadding * 2);
        margin: 0px 0px 0px 0px;
      }
    }
    &:first-child {
      left: 0px;
      @media (min-width: $marginStart) {
        left: calc(((100% - 100% * $marginRatio) / 2) - ($marginPivot / 2));
      }
    }
    &:last-child {
      right: 0px;
      @media (min-width: $marginStart) {
        right: calc(((100% - 100% * $marginRatio) / 2) - ($marginPivot / 2));
      }
    }
  }
}
@media (max-width: params.$size-small) {
  @include styling($sizeSmall: true, $sizeMedium: true);
}
@media (max-width: params.$size-medium) and (min-width: params.$size-small) {
  @include styling($sizeSmall: false, $sizeMedium: true);
}
@media (min-width: params.$size-medium) {
  @include styling($sizeSmall: false, $sizeMedium: false);
}
