<div class="pixelconHomePage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="colorLight">
		<div class="fullCard textExLarge textLight textCenter">
			<div class="titleCollectionContainer" ng-class="{'small':ctrl.screenSize.sm}">
				<a class="titleCollectionItem"  ng-repeat="id in ctrl.facesCollection track by $index" ng-href="/details/{{id}}">
					<pixelcon id="id"></pixelcon>
				</a>
			</div>
			<div class="textBox textSelectable">
				<div class="textBold textDark textCenter" ng-class="{'textTitleExLarge':!ctrl.screenSize.sm, 'textTitleLarge':ctrl.screenSize.sm}">PixelCons</div>
				Tiny On-Chain Pixel Art <br/> NFTs Since 2018
				<br/><br/>
				<a ng-href="/start" class="plain textDark">
					<md-button class="md-raised md-primary">Start</md-button>
				</a>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="homeContainer textCenter colorLight">
		<div class="textBox textMedium textLight textCenter textSelectable">
			<div class="textExLarge textBold textDark">Genesis Series (#0 - #650)</div>
			<div class="textMedium textLight">Minted December 2018</div><br/>
		</div>
		<br/>
		
		
		<div class="slider" ng-class="ctrl.sliderClass">
			<div class="slides">
				<div ng-attr-id="{{'slide-'+$index}}" ng-repeat="show in ctrl.showcaseList">
					<div class="content">{{show.name}}</div>
				</div>
			</div>
			<div class="slideDots">
				<div ng-repeat="dot in ctrl.sliderDots" class="slideDotContainer" ng-click="ctrl.sliderDotClick($index);"><div class="dot" ng-class="{'highlight': ctrl.sliderDotHighlight == $index}"></div></div>
			</div>
			<div class="arrow left" ng-if="ctrl.sliderDots.length < ctrl.showcaseList.length" ng-class="{'visible': ctrl.sliderDotHighlight > 0}" ng-click="ctrl.sliderDotClick(ctrl.sliderDotHighlight-1);"></div>
			<div class="arrow right" ng-if="ctrl.sliderDots.length < ctrl.showcaseList.length" ng-class="{'visible': ctrl.sliderDotHighlight < ctrl.sliderDots.length-1}" 
				ng-click="ctrl.sliderDotClick(ctrl.sliderDotHighlight+1);"></div>
		</div>
		
		
		<!--
		<md-content>
			<md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-swipe-content>
				<md-tab ng-repeat="tab in ctrl.curationList" ng-disabled="tab.disabled" label="{{tab.name}}">
					<div style="width:1000px; height:300px; background-color:#000;">
					</div>
				</md-tab>
			</md-tabs>
		</md-content>
		<br/>
		<div class="showcaseContainer textLeft" ng-class="{'small':ctrl.screenSize.sm}" 
				ng-style="ctrl.calcShowcaseStyle(curation)" ng-repeat="curation in ctrl.curationList">
			<a class="showcaseItem plain" ng-href="{{item.link + item.id}}" ng-repeat="item in curation.items">
				<pixelcon class="shadow" id="item.id" ng-if="item.type=='pxcn'"></pixelcon>
				<div class="showcaseLink textLight textCenter" ng-if="item.type=='link'">{{item.text}}</div>
			</a>
			<div class="showcaseName textMedium textBold textLight textCenter">{{curation.name}}</div>
		</div>
		-->
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="homeContainer textCenter colorLight">
		<div class="textBox textMedium textLight textLeft textCenter textSelectable">
			<div class="textExLarge textBold textDark textCenter">What Makes PixelCons Special?</div>
			<ul>
				<li>All data is fully on-chain</li>
				<li>No developer fees (just pay for gas)</li>
				<li>No hidden admin restrictions</li>
				<li>Simple static website</li>
				<li>Completely open source!</li>
			</ul>
		</div>
		<div class="sourceImage textLight textSmall" ng-class="{'small':ctrl.screenSize.sm}">
			<a href="https://github.com/PixelCons" target="_blank" class="light"><img ng-hide="ctrl.verticalMode" src="/img/large/github_logo.svg"></a>
		</div>
	</div>
	
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
