<div class="pixelconHomePage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="colorLight">
		<div class="fullCard textExLarge textLight textCenter">
			<div class="titleCollectionContainer" ng-class="{'small':ctrl.screenSize.sm}">
				<a class="titleCollectionItem"  ng-repeat="id in ctrl.facesCollection track by $index" ng-href="/details/{{id}}">
					<pixelcon id="id"></pixelcon>
				</a>
			</div>
			<div class="textBox textSelectable">
				<div class="textBold textDark textCenter" ng-class="{'textTitleExLarge':!ctrl.screenSize.sm, 'textTitleLarge':ctrl.screenSize.sm}">PixelCons</div>
				Tiny On-Chain Pixel Art <br/> NFTs Since 2018
				<br/><br/>
				<a ng-href="/start" class="plain textDark">
					<md-button class="md-raised md-primary">Start</md-button>
				</a>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="homeContainer textCenter colorLight">
		<div class="textBox textMedium textLight textCenter textSelectable">
			<div class="textExLarge textBold textDark">✨ Genesis Series ✨</div>
			<div class="textMedium textLight">First PixelCons Minted (December 2018)</div><br/>
		</div>
		<br/>
		
		<div class="slider" ng-class="ctrl.sliderClass">
			<div class="slides">
				<div class="slide" ng-attr-id="{{'slide-'+$index}}" ng-repeat="show in ctrl.showcaseList">
					
						<div class="content md-whiteframe-1dp" ng-style="{'background-image': 'url('+show.image+')'}">
							<a ng-href="{{show.link}}">
								<div class="contentSpread" ng-class="{'disabled':show.disabled}"></div>
							</a>
							<div class="contentTitle">#{{show.startIndex}} - #{{show.startIndex + show.count}}</div>
							<div class="contentShade">
								<div class="contentAccount">
									<img class="crispImage" style="width:100%; height:100%" ng-src="{{show.addressIcon}}"/>
								</div>
								<div class="contentText textLarge textBold textDark">{{show.name}}</div>
								<div class="contentText">{{show.title}}</div>
								<a class="plain textDark" ng-href="{{show.marketLink}}" target="_blank">
									<div class="contentButton" ng-if="!show.disabled">{{ctrl.marketName}}</div>
								</a>
							</div>
						</div>
				</div>
			</div>
			<div class="slideDots">
				<div ng-repeat="dot in ctrl.sliderDots" class="slideDotContainer" ng-click="ctrl.sliderDotClick($index);"><div class="dot" ng-class="{'highlight': ctrl.sliderDotHighlight == $index}"></div></div>
			</div>
			<div class="arrow left" ng-if="ctrl.sliderDots.length < ctrl.showcaseList.length" ng-class="{'visible': ctrl.sliderDotHighlight > 0}" ng-click="ctrl.sliderDotClick(ctrl.sliderDotHighlight-1);"></div>
			<div class="arrow right" ng-if="ctrl.sliderDots.length < ctrl.showcaseList.length" ng-class="{'visible': ctrl.sliderDotHighlight < ctrl.sliderDots.length-1}" 
				ng-click="ctrl.sliderDotClick(ctrl.sliderDotHighlight+1);"></div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="homeContainer textCenter colorLight">
		<div class="textBox textMedium textLight textLeft textCenter textSelectable">
			<div class="textExLarge textBold textDark textCenter">What Makes PixelCons Special?</div>
			<ul>
				<li>All data is fully on-chain</li>
				<li>No developer fees (just pay for gas)</li>
				<li>No hidden admin restrictions</li>
				<li>Simple static website</li>
				<li>Completely open source</li>
			</ul>
		</div>
		<div class="sourceImage textLight textSmall" ng-class="{'small':ctrl.screenSize.sm}">
			<a class="plain light socialLink github" target="_blank" href="https://github.com/PixelCons"></a>
			<a class="plain light socialLink twitter" target="_blank" href="https://twitter.com/PixelConsToken"></a>
			<a class="plain light socialLink opensea" target="_blank" href="https://opensea.io/category/pixelcons"></a>
			<a class="plain light socialLink discord" target="_blank" href="https://discord.gg/E2WQa8sTk3"></a>
			
		</div>
	</div>
	
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
