/* General */
div.pixelconHomePage {
	width: 100%;
}
div.pixelconHomePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconHomePage.sm div.topSpacer {
	height: 10px;
}
div.pixelconHomePage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconHomePage.sm div.bottomSpacer {
	height: 20px;
}

/* Home Card Container */
div.pixelconHomePage div.homeCard {
	display: inline-block;
	display: inline-block;
	max-width: calc(100% - 30px);
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconHomePage div.homeContainer {
	padding: 20px 0px;
}
div.pixelconHomePage div.fullCard {
	padding: 15px;
}
div.pixelconHomePage.sm div.fullCard {
	padding: 15px 0px 15px 0px;
}

/* Content */
div.pixelconHomePage div.homeHeader {
	text-align: left;
}
div.pixelconHomePage div.titleCollectionContainer {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
	width: 250px;
	height: 250px;
}
div.pixelconHomePage div.titleCollectionContainer a.titleCollectionItem {
	display: inline-block;
	vertical-align: middle;
	width: 72px;
	height: 72px;
	margin: 5px;
	box-shadow: 1px 1px 4px #8e8e8e;
}
div.pixelconHomePage div.titleCollectionContainer a.titleCollectionItem:hover {
	width: 76px;
	height: 76px;
	margin: 3px;
}
div.pixelconHomePage div.titleCollectionContainer.small {
	width: 226px;
	height: 226px;
}
div.pixelconHomePage div.titleCollectionContainer.small a.titleCollectionItem {
	width: 64px;
	height: 64px;
}
div.pixelconHomePage
	div.titleCollectionContainer.small
	a.titleCollectionItem:hover {
	width: 68px;
	height: 68px;
	margin: 3px;
	box-shadow: 1px 1px 6px #acacac;
}
div.pixelconHomePage div.ethereumImage {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 5px;
	margin: 0px 10px;
	width: 130px;
	height: 130px;
	max-width: 100%;
	background-color: #fff;
	border-radius: 150px;
}
div.pixelconHomePage div.ethereumImage.small {
	width: 100px;
	height: 100px;
}
div.pixelconHomePage div.ethereumImage img {
	height: 100%;
}
div.pixelconHomePage div.sourceImage {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	font-size: 0px;
}
div.pixelconHomePage div.sourceImage.small {
	width: 320px;
}
div.pixelconHomePage div.sourceImage .socialLink {
	transition: all cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
	width: 80px;
	height: 80px;
	margin: 10px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	opacity: 0.45;
	filter: alpha(opacity=45);
}
div.pixelconHomePage div.sourceImage.small .socialLink {
	width: 60px;
	height: 60px;
}
div.pixelconHomePage div.sourceImage .socialLink:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
div.pixelconHomePage div.sourceImage .socialLink.github {
	background-image: url("/img/icon_github.svg");
}
div.pixelconHomePage div.sourceImage .socialLink.twitter {
	background-image: url("/img/icon_twitter.svg");
}
div.pixelconHomePage div.sourceImage .socialLink.discord {
	background-image: url("/img/icon_discord.svg");
}
div.pixelconHomePage div.sourceImage .socialLink.opensea {
	background-image: url("/img/icon_opensea.svg");
}
div.pixelconHomePage .textBox {
	display: inline-block;
	max-width: 590px;
	vertical-align: middle;
	padding: 0px 20px 10px 20px;
}
div.pixelconHomePage .textBox ul {
	margin: 5px 0px 0px 0px;
}

/* Slider showcase */
.slider {
	position: relative;
	display: inline-block;
	width: 400px;
	max-width: calc(100vw - 20px);
	text-align: center;
	overflow: hidden;
}
.slider.double {
	width: 780px;
}
.slider.triple {
	width: 1160px;
}
.slider.quadruple {
	width: 1540px;
}
.slider .slides {
	display: flex;
	overflow-x: auto;
	width: calc(100% - 20px);
	margin: 0px 10px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}
.slider .slides.snap {
}
.slider .slides::-webkit-scrollbar {
	display: none;
}
.slider .slides .slide {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 380px;
	max-width: calc(100vw - 40px);
	height: 560px;
	position: relative;
	display: flex;
	padding: 10px 0px;
}
.slider .slides .slide .content {
	position: relative;
	width: 350px;
	max-width: calc(100vw - 40px);
	height: 560px;
	margin: 0px 15px;
	border-radius: 10px;
	background-color: #eee;
	background-position: 0px 0px;
	transition: none;
	overflow: hidden;
}
.slider .slides .slide .content:hover {
	background-position: 10000px 7000px;
	transition: linear 60s;
}
.slider .slides .slide .content .contentSpread {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
.slider .slides .slide .content .contentSpread.disabled {
	background-color: #484848b8;
}
.slider .slides .slide .content .contentTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	font-size: 20px;
	margin: 20px;
	background-color: #ffffffde;
	border-radius: 4px;
	padding: 0px 5px;
	box-shadow: 0px 0px 5px 5px #ffffffde;
}
.slider .slides .slide .content .contentShade {
	position: absolute;
	width: 100%;
	height: 140px;
	bottom: 0px;
	left: 0px;
	background-color: #eee;
	transition: height cubic-bezier(0.35, 0, 0.25, 1) 0.2s;
}
.slider .slides .slide .content:hover .contentShade {
	height: 160px;
}
.slider .slides .slide .content .contentText {
	padding: 10px 10px 4px 10px;
}
.slider .slides .slide .content .contentAccount {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 10px;
	font-size: 0px;
	width: 40px;
	height: 40px;
}
.slider .slides .slide .content .contentButton {
	border: 2px solid #000;
	display: inline-block;
	border-radius: 5px;
	padding: 8px 15px;
	margin: 10px;
	cursor: pointer;
	background-color: #f7f7f7;
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.2s;
}
.slider .slides .slide .content .contentButton:hover {
	background-color: #e0e0e0;
}
.slider .slideDots {
	display: inline-block;
	width: 250px;
	height: 20px;
}
.slider .slideDots .slideDotContainer {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px 2px;
	cursor: pointer;
}
.slider .slideDots .slideDotContainer .dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #d0d0d0;
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.15s;
}
.slider .slideDots .slideDotContainer .dot.highlight {
	background-color: #717171;
}
.slider .arrow {
	position: absolute;
    background-repeat: no-repeat;
    background-size: 60px;
	width: 40px;
	height: 40px;
	top: calc(50% - 20px);
	border-radius: 20px;
	transition: cubic-bezier(0.35, 0, 0.25, 1) 0.15s;
	opacity: 0.0;
	filter: alpha(opacity=0);
}
.slider .arrow.visible {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: pointer;
}
.slider .arrow.visible:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.slider .arrow.left {
	background-position: -20px center;
	background-image: url('/img/icon_back.svg');
	left: 0px;
}
.slider .arrow.right {	
	background-position: 0px center;
	background-image: url('/img/icon_forward.svg');
	right: 0px;
}
