/* General */
div.pixelconHomePage {
	width: 100%;
}
div.pixelconHomePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconHomePage.sm div.topSpacer {
	height: 10px;
}
div.pixelconHomePage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconHomePage.sm div.bottomSpacer {
	height: 20px;
}
div.pixelconHomePage .inlineButtonIcon {
	display: inline-block !important;
	vertical-align: top;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconHomePage .browseLink .inlineButtonIcon.search {
	background-image: url("/img/icon_search.svg");
}
div.pixelconHomePage .browseLink .inlineButtonIcon.create {
	background-image: url("/img/icon_create.svg");
}
div.pixelconHomePage .browseLink {
	margin: 0px;
	max-height: 30px;
	min-height: 30px;
	padding: 5px;
}
div.pixelconHomePage .browseLink span {
	line-height: 18px;
	vertical-align: top;
}

/* Home Card Container */
div.pixelconHomePage div.homeCard {
	display: inline-block;
	display: inline-block;
	max-width: calc(100% - 30px);
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconHomePage div.homeContainer {
	padding: 20px 0px;
}
div.pixelconHomePage div.fullCard {
	padding: 15px;
}
div.pixelconHomePage.sm div.fullCard {
	padding: 15px 0px 15px 0px;
}

/* Content */
div.pixelconHomePage div.homeHeader {
	text-align: left;
}
div.pixelconHomePage div.homeHeaderIcon {
	display: inline-block;
	vertical-align: middle;
	width: 250px;
	height: 250px;
	background-image: url("/img/screen/samples.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
div.pixelconHomePage div.detailImage {
	display: inline-block;
	vertical-align: middle;
	width: 350px;
	font-size: 0px;
}
div.pixelconHomePage div.detailImage.layered {
	font-size: 0px;
}
div.pixelconHomePage div.detailImage.small {
	width: 250px;
}
div.pixelconHomePage div.detailImage img {
	width: 100%;
	height: 100%;
}
div.pixelconHomePage div.detailImage img.overlay {
	margin-top: -100%;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconHomePage .textBox {
	display: inline-block;
	max-width: 600px;
	vertical-align: middle;
	padding: 0px 20px 10px 20px;
}
