/* General */
div.pixelconHomePage {
	width: 100%;
}
div.pixelconHomePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconHomePage.sm div.topSpacer {
	height: 10px;
}
div.pixelconHomePage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconHomePage.sm div.bottomSpacer {
	height: 20px;
}

/* Home Card Container */
div.pixelconHomePage div.homeCard {
	display: inline-block;
	display: inline-block;
	max-width: calc(100% - 30px);
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconHomePage div.homeContainer {
	padding: 20px 0px;
}
div.pixelconHomePage div.fullCard {
	padding: 15px;
}
div.pixelconHomePage.sm div.fullCard {
	padding: 15px 0px 15px 0px;
}

/* Content */
div.pixelconHomePage div.homeHeader {
	text-align: left;
}
div.pixelconHomePage div.titleCollectionContainer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
	width: 250px;
	height: 250px;
}
div.pixelconHomePage div.titleCollectionContainer.small {
	width: 226px;
	height: 226px;
}
div.pixelconHomePage div.titleCollectionContainer .titleCollectionImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
div.pixelconHomePage div.titleCollectionContainer .titleCollectionOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 60px;
	font-style: italic;
	line-height: 250px;
	text-shadow: 0px 0px 10px #ebebeb;
}
div.pixelconHomePage div.titleCollectionContainer.small .titleCollectionOverlay {
	font-size: 56px;
	line-height: 226px;
}
div.pixelconHomePage div.ethereumImage {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 5px;
	margin: 0px 10px;
	width: 130px;
	height: 130px;
	max-width: 100%;
	background-color: #fff;
	border-radius: 150px;
}
div.pixelconHomePage div.ethereumImage.small {
	width: 100px;
	height: 100px;
}
div.pixelconHomePage div.ethereumImage img {
	height: 100%;
}
div.pixelconHomePage div.sourceImage {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	font-size: 0px;
}
div.pixelconHomePage div.sourceImage.small {
	width: 200px;
}
div.pixelconHomePage div.sourceImage img {
	width: 100%;
	height: 100%;
}
div.pixelconHomePage .textBox {
	display: inline-block;
	max-width: 590px;
	vertical-align: middle;
	padding: 0px 20px 10px 20px;
}
div.pixelconHomePage .textBox ul {
	margin: 5px 0px 0px 0px;
}

/* Showcase */
div.pixelconHomePage div.showcaseContainer {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
	margin: 0px 10px 10px 10px;
	padding: 10px;
}
div.pixelconHomePage div.showcaseContainer div.showcaseName {
	margin-top: 5px;
}
div.pixelconHomePage div.showcaseContainer a.showcaseItem {
	display: inline-block;
	vertical-align: middle;
	width: 72px;
	height: 72px;
	margin: 4px;
}
div.pixelconHomePage a.showcaseItem .shadow {
	box-shadow: 1px 1px 8px #000000;
}
div.pixelconHomePage div.showcaseContainer div.showcaseLink {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 19px 0px;
	font-size: 14px;
	box-shadow: 0px 0px 5px #bbbbbb;
}
div.pixelconHomePage div.showcaseContainer div.showcaseLink:hover {
	padding: 21px 0px;
	box-shadow: unset;
}
div.pixelconHomePage div.showcaseContainer.small div.showcaseLink {
	font-size: 9px;
	font-weight: 600;
}
div.pixelconHomePage div.showcaseContainer.small a.showcaseItem {
	width: 48px;
	height: 48px;
}
div.pixelconHomePage div.showcaseContainer a.showcaseItem:hover {
	width: 76px;
	height: 76px;
	margin: 2px;
}
div.pixelconHomePage div.showcaseContainer.small a.showcaseItem:hover {
	width: 52px;
	height: 52px;
	margin: 2px;
}
