@use "src/styles/params" as params;

/* General items */
$marginRatio: params.$margin-ratio;
$marginStart: params.$size-small;
$marginPivot: $marginStart - ($marginRatio * $marginStart);

/* Size dependent items with parametrized rendering */
@mixin styling($sizeSmall, $sizeMedium) {
  /* Parameters */
  $lineHeight: 20px;
  $imageSize: 24px;
  $imageMargin: 2px;
  $leftMargin: 20px;
  $visiblePixelcons: 8;
  $visiblePixelconsHover: 24;
  @if $sizeSmall {
    $lineHeight: 20px;
    $imageSize: 24px;
    $imageMargin: 2px;
    $leftMargin: 10px;
    $visiblePixelcons: 4;
    $visiblePixelconsHover: ($visiblePixelcons - 1);
  } @else if $sizeMedium {
    $lineHeight: 20px;
    $imageSize: 24px;
    $imageMargin: 2px;
    $leftMargin: 15px;
    $visiblePixelcons: 8;
    $visiblePixelconsHover: 14;
  }
  $imageHeight: $imageSize + ($imageMargin * 2);

  /* General container */
  .container {
    width: 100%;
    height: ($lineHeight * 2) + $imageHeight;
    margin-top: ($lineHeight * -2) - $imageHeight;
    @media (min-width: $marginStart) {
      max-width: calc($marginPivot + (100% * $marginRatio));
      margin-left: calc(
        ((100% - 100% * $marginRatio) / 2) - ($marginPivot / 2)
      );
    }
  }
  .blankSpacer {
    width: 100%;
    height: ($lineHeight * 3) + $imageHeight;
  }

  /* General text */
  .label {
    color: params.$color-dim;
    display: inline-block;
    font-weight: 600;
    font-size: params.$text-size-large;
    line-height: $lineHeight;
    margin: 0em 0.3em 0em $leftMargin;
    vertical-align: middle;
    width: 3.6em;
    &.collectionLabel {
      margin-top: $imageHeight - $lineHeight;
    }
  }
  .spacer {
    margin-left: $leftMargin;
    height: $imageHeight;
  }
  .address {
    color: params.$color-dim;
    font-size: params.$text-size-medium;
  }

  /* Collection display */
  .collectionContainer {
    width: 100%;
    height: $imageHeight;
    overflow: hidden;
  }
  .collectionPreview {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    height: $imageHeight;
    max-width: ($imageSize + ($imageMargin * 2)) * $visiblePixelcons;
    &:hover {
      max-width: ($imageSize + ($imageMargin * 2)) *
        ($visiblePixelconsHover + 1);
    }
  }
  .collectionPixelcon {
    width: $imageSize;
    height: $imageSize;
    margin: $imageMargin;
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    background-size: 100%;
  }
  .collectionPlus {
    width: $imageSize;
    height: $imageSize;
    margin: $imageMargin;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: $imageSize;
    vertical-align: middle;
    text-align: center;
    &.midPlus {
      @if $sizeMedium == false {
        display: none;
      }
    }
  }
  .collectionName {
    display: inline-block;
    color: params.$color-dim;
    font-size: params.$text-size-medium;
    margin-left: 0.5em;
    margin-top: $imageHeight - $lineHeight;
    font-weight: 600;
    vertical-align: middle;
  }
}
@media (max-width: params.$size-small) {
  @include styling($sizeSmall: true, $sizeMedium: true);
}
@media (max-width: params.$size-medium) and (min-width: params.$size-small) {
  @include styling($sizeSmall: false, $sizeMedium: true);
}
@media (min-width: params.$size-medium) {
  @include styling($sizeSmall: false, $sizeMedium: false);
}
