<!-- PixelCon Card Directive -->
<div class="pixelconCardDirectiveContainer" ng-class="{'xs':ctrl.size=='xs', 'sm':ctrl.size=='sm', 'md':ctrl.size=='md', 'lg':ctrl.size=='lg', 'xl':ctrl.size=='xl', 'disabled':ctrl.disabled, 'clickable':!ctrl.disabled}" 
		ng-mouseenter="ctrl.dirHover=true" ng-mouseleave="ctrl.dirHover=false">
	<div class="pixelconCardDirectiveImage" ng-mouseenter="ctrl.dirHover=true" ng-click="ctrl.pixelconClick($event)">
		<pixelcon id="ctrl.pixelcon.id"></pixelcon>
		<div class="pixelconCardDirectiveImageCover" ng-class="{'pixelconCardDirectiveTransition': ctrl.loaded}" ng-show="(ctrl.dirHover && !ctrl.selectable && !ctrl.disabled) || ctrl.coverAlwaysOn" ng-cloak>
			<!-- Goto Link -->
			<a ng-href="{{(ctrl.selectable || ctrl.disabled)?'':('/details/'+ctrl.pixelcon.id)}}" class="plain textDark">
				<div class="pixelconCardDirectiveGotoIcon"></div>
			</a>
			<!-- Collection Link -->
			<a ng-href="{{(ctrl.selectable || ctrl.disabled)?'':'/collection/'+ctrl.pixelcon.collection.index}}" class="plain textDark">
				<div class="pixelconCardDirectiveDetailContainer pixelconCardDirectiveGroupContainer colorDarkOverlay clickable" 
						ng-class="{'pixelconCardDirectiveTransition': ctrl.loaded}" ng-if="!ctrl.noCollection && !ctrl.pixelcon.match && ctrl.pixelcon.collection" ng-click="ctrl.infoItemClick($event)">
					<div class="pixelconCardDirectiveGroupElement" ng-if="ctrl.scrambledCollectionPixelconIds[0]"><pixelcon id="ctrl.scrambledCollectionPixelconIds[0]"></pixelcon></div>
					<div class="pixelconCardDirectiveGroupElementSpacer" ng-if="!ctrl.scrambledCollectionPixelconIds[3] && ctrl.scrambledCollectionPixelconIds[2]"></div>
					<div class="pixelconCardDirectiveGroupElement" ng-if="ctrl.scrambledCollectionPixelconIds[1]"><pixelcon id="ctrl.scrambledCollectionPixelconIds[1]"></pixelcon></div>
					<div class="pixelconCardDirectiveGroupElement" ng-if="ctrl.scrambledCollectionPixelconIds[2]"><pixelcon id="ctrl.scrambledCollectionPixelconIds[2]"></pixelcon></div>
					<div class="pixelconCardDirectiveGroupElement" ng-if="ctrl.scrambledCollectionPixelconIds[3]"><pixelcon id="ctrl.scrambledCollectionPixelconIds[3]"></pixelcon></div>
				</div>
			</a>
			<!-- Similar Match Link -->
			<a ng-href="{{(ctrl.selectable || ctrl.disabled)?'':'/details/'+ctrl.pixelcon.match.id}}" class="plain textDark">
				<div class="pixelconCardDirectiveDetailContainer pixelconCardDirectiveGroupContainer colorDarkOverlay clickable" 
						ng-class="{'pixelconCardDirectiveTransition': ctrl.loaded}" ng-if="!ctrl.noMatch && ctrl.pixelcon.match" ng-click="ctrl.infoItemClick($event)">
					<div class="pixelconCardDirectiveMatchElement"><pixelcon id="ctrl.pixelcon.match.id"></pixelcon></div>
				</div>
			</a>
			<!-- Account Link -->
			<a ng-href="{{(ctrl.selectable || ctrl.disabled)?'':'/account'}}" class="plain textDark">
				<div class="pixelconCardDirectiveDetailContainer pixelconCardDirectiveAccountContainer colorDarkOverlay clickable" ng-class="{'pixelconCardDirectiveTransition': ctrl.loaded}"
						ng-if="!ctrl.noAccount && ctrl.pixelcon.owner==ctrl.account" ng-click="ctrl.infoItemClick($event)">
					<div class="pixelconCardDirectiveAccountContainerIcon"></div>
				</div>
			</a>
		</div>
	</div>

	<!-- Bottom Info -->
	<div class="pixelconCardDirectiveInfo pixelconCardDirectiveFont textBold textDark colorLight" ng-click="ctrl.pixelconClick($event)" ng-class="{'pixelconCardDirectiveTransition':ctrl.loaded}">
		<div ng-cloak>{{ctrl.pixelcon.name!==''?ctrl.pixelcon.name:'#'+ctrl.pixelcon.index}}</div>
		<div class="pixelconCardDirectiveGroupNotification" ng-if="!ctrl.reloading && !ctrl.noCollection && !ctrl.pixelcon.match && ctrl.pixelcon.collection"></div>
		<div class="pixelconCardDirectiveSimilarNotification" ng-class="{'ex': (ctrl.pixelcon.match.creator != ctrl.pixelcon.creator && ctrl.account != ctrl.pixelcon.match.creator)}" 
			ng-if="!ctrl.reloading && !ctrl.noMatch && ctrl.pixelcon.match"></div>
		<div class="pixelconCardDirectiveAccountNotification" ng-if="!ctrl.reloading && !ctrl.noAccount && ctrl.pixelcon.owner==ctrl.account"></div>
	</div>
	
	<!-- Check Box -->
	<div class="pixelconCardCheck colorDarkOverlay" ng-class="{'hovering': ctrl.dirHover || ctrl.pixelcon.selected}" ng-if="ctrl.selectable" ng-show="ctrl.loaded && !ctrl.disabled" ng-cloak>
		<md-checkbox ng-model="ctrl.pixelcon.selected" aria-label="pixelcon"></md-checkbox>
	</div>
</div>
