/* General */
pixelconcard {
	display: block;
}
pixelconcard .pixelconCardDirectiveContainer {
	position: relative;
	background-color: #000000;
}
pixelconcard .pixelconCardDirectiveContainer.disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
pixelconcard .pixelconCardDirectiveTransition,
pixelconcard .pixelconCardDirectiveTransition .ng-hide-add,
pixelconcard .pixelconCardDirectiveTransition .ng-hide-remove {
	transition: opacity cubic-bezier(0.35, 0, 0.25, 1) 0.05s,
		background-color cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
}
pixelconcard .ng-hide {
	opacity: 0;
}
pixelconcard .pixelconCardDirectiveNotification {
	position: absolute;
	font-size: 0px;
	pointer-events: none;
}
pixelconcard div.pixelconCardCheck {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	padding: 4px;
	border-radius: 5px;
}
pixelconcard div.pixelconCardCheck.hovering {
	background-color: rgba(242, 242, 242, 0.80);
}

/* Main Appearance */
pixelconcard .pixelconCardDirectiveImage {
	position: absolute;
	top: 0px;
	left: 0px;
}
pixelconcard .pixelconCardDirectiveInfo {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}
pixelconcard .pixelconCardDirectiveGroupNotification {
    background-image: url(/img/icon_group.svg);
	position: absolute;
    top: 0px;
    left: 0px;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
pixelconcard .pixelconCardDirectiveSimilarNotification {
    background-image: url(/img/icon_copy.svg);
	position: absolute;
    top: 0px;
    left: 0px;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
pixelconcard .pixelconCardDirectiveSimilarNotification.ex {
    background-image: url(/img/icon_copyex.svg);
}
pixelconcard .pixelconCardDirectiveAccountNotification {
    background-image: url(/img/icon_wallet.svg);
	position: absolute;
    top: 0px;
    right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat;
    background-size: contain;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* Hover Details */
pixelconcard .pixelconCardDirectiveImageCover {
	position: absolute;
	top: 0px;
	background-color: rgba(51, 51, 51, 0.7);
	width: 100%;
	height: 100%;
}
pixelconcard .pixelconCardDirectiveGotoIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url("/img/icon_goto_w.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
pixelconcard .pixelconCardDirectiveDetailContainer {
	position: absolute;
}
pixelconcard .pixelconCardDirectiveDetailContainer.clickable:hover {
	background-color: rgba(242, 242, 242, 0.9);
}
pixelconcard .pixelconCardDirectiveGroupContainer {
	bottom: 0px;
	left: 0px;
	font-size: 0px;
	text-align: left;
}
pixelconcard .pixelconCardDirectiveGroupElement {
	display: inline-block;
	background-color: #000000;
}
pixelconcard .pixelconCardDirectiveMatchElement {
	display: inline-block;
	background-color: #000000;
}
pixelconcard .pixelconCardDirectiveGroupElementSpacer {
	width: 5px;
}
pixelconcard .pixelconCardDirectiveAccountContainer {
	bottom: 0px;
	right: 0px;
	font-size: 0px;
}
pixelconcard .pixelconCardDirectiveAccountContainerIcon {
	background-image: url("/img/icon_wallet.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

/* Size: xs */
pixelconcard .pixelconCardDirectiveContainer.xs {
	width: 72px;
	height: 93px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveFont {
	font-size: 11px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveImage {
	width: 72px;
	height: 72px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveInfo {
	height: 21px;
	line-height: 22px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveDetailContainer {
	border-radius: 4px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xs
	.pixelconCardDirectiveGroupContainer {
	max-width: 32px;
	padding: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xs
	.pixelconCardDirectiveGroupElement {
	width: 14px;
	height: 14px;
	margin: 1px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xs
	.pixelconCardDirectiveMatchElement {
	width: 21px;
	height: 21px;
	margin: 1px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveGotoIcon {
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
pixelconcard .pixelconCardDirectiveContainer.xs .pixelconCardDirectiveAccountContainer {
	width: 22px;
	height: 22px;
}

/* Size: sm */
pixelconcard .pixelconCardDirectiveContainer.sm {
	width: 88px;
	height: 112px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveFont {
	font-size: 13px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveImage {
	width: 88px;
	height: 88px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveInfo {
	height: 24px;
	line-height: 25px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveDetailContainer {
	border-radius: 5px;
}
pixelconcard
	.pixelconCardDirectiveContainer.sm
	.pixelconCardDirectiveGroupContainer {
	max-width: 36px;
	padding: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.sm
	.pixelconCardDirectiveGroupElement {
	width: 16px;
	height: 16px;
	margin: 1px;
}
pixelconcard
	.pixelconCardDirectiveContainer.sm
	.pixelconCardDirectiveMatchElement {
	width: 24px;
	height: 24px;
	margin: 1px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveGotoIcon {
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
pixelconcard .pixelconCardDirectiveContainer.sm .pixelconCardDirectiveAccountContainer {
	width: 26px;
	height: 26px;
}

/* Size: md */
pixelconcard .pixelconCardDirectiveContainer.md {
	width: 96px;
	height: 121px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveFont {
	font-size: 14px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveImage {
	width: 96px;
	height: 96px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveDetailContainer {
	border-radius: 5px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveInfo {
	height: 25px;
	line-height: 26px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard
	.pixelconCardDirectiveContainer.md
	.pixelconCardDirectiveGroupContainer {
	max-width: 36px;
	padding: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.md
	.pixelconCardDirectiveGroupElement {
	width: 16px;
	height: 16px;
	margin: 1px;
}
pixelconcard
	.pixelconCardDirectiveContainer.md
	.pixelconCardDirectiveMatchElement {
	width: 24px;
	height: 24px;
	margin: 1px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveGotoIcon {
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
pixelconcard .pixelconCardDirectiveContainer.md .pixelconCardDirectiveAccountContainer {
	width: 28px;
	height: 28px;
}

/* Size: lg */
pixelconcard .pixelconCardDirectiveContainer.lg {
	width: 104px;
	height: 129px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveFont {
	font-size: 15px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveImage {
	width: 104px;
	height: 104px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveInfo {
	height: 25px;
	line-height: 25px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveDetailContainer {
	border-radius: 5px;
}
pixelconcard
	.pixelconCardDirectiveContainer.lg
	.pixelconCardDirectiveGroupContainer {
	max-width: 36px;
	padding: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.lg
	.pixelconCardDirectiveGroupElement {
	width: 16px;
	height: 16px;
	margin: 1px;
}
pixelconcard
	.pixelconCardDirectiveContainer.lg
	.pixelconCardDirectiveMatchElement {
	width: 24px;
	height: 24px;
	margin: 1px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveGotoIcon {
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
pixelconcard .pixelconCardDirectiveContainer.lg .pixelconCardDirectiveAccountContainer {
	width: 30px;
	height: 30px;
}

/* Size: xl */
pixelconcard .pixelconCardDirectiveContainer.xl {
	width: 120px;
	height: 148px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveFont {
	font-size: 18px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveImage {
	width: 120px;
	height: 120px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveInfo {
	height: 28px;
	line-height: 28px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveDetailContainer {
	border-radius: 5px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xl
	.pixelconCardDirectiveGroupContainer {
	max-width: 48px;
	padding: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xl
	.pixelconCardDirectiveGroupElement {
	width: 20px;
	height: 20px;
	margin: 2px;
}
pixelconcard
	.pixelconCardDirectiveContainer.xl
	.pixelconCardDirectiveMatchElement {
	width: 30px;
	height: 30px;
	margin: 1px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveGotoIcon {
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
pixelconcard .pixelconCardDirectiveContainer.xl .pixelconCardDirectiveAccountContainer {
	width: 32px;
	height: 32px;
}
