<md-dialog class="collectionDialog colorLight" ng-class="ctrl.screenSize" aria-label="Submit Collection">
	
	<!-- Header -->
	<div class="dialogTitle">{{ctrl.title}}</div>
	<div class="pixelconContainer">
		<pixelcon ng-if="ctrl.pixelcons[0].id" class="md-whiteframe-1dp" id="ctrl.pixelcons[0].id"></pixelcon>
		<pixelcon ng-if="ctrl.pixelcons[1].id" class="md-whiteframe-1dp" id="ctrl.pixelcons[1].id"></pixelcon>
		<pixelcon ng-if="ctrl.pixelcons[2].id" class="md-whiteframe-1dp" id="ctrl.pixelcons[2].id"></pixelcon>
		<pixelcon ng-if="ctrl.pixelcons[3].id" class="md-whiteframe-1dp" id="ctrl.pixelcons[3].id"></pixelcon>
	</div>
	
	<!-- Error View -->
	<div class="view" ng-show="ctrl.currView=='error'" ng-cloak>
		<div class="infoText errorTitle">
			<b>Ethereum Network Error:</b><br/><br/>{{ctrl.error}}
		</div>
	</div>
	
	<!-- Loading View -->
	<div class="view" ng-show="ctrl.currView=='loading'" ng-cloak>
		<div class="loadingIcon">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		<div class="infoText">Verifying...</div>
	</div>
	
	<!-- Create View -->
	<div class="view" ng-show="ctrl.currView=='create'" ng-cloak>
		<div class="infoText createTitle">Name and Create</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.collectionName" ng-change="ctrl.filterCollectionName()" placeholder="Name"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">Gas: {{ctrl.cost | ethprice}}</div>
			<md-button ng-click="ctrl.create()">Create</md-button>
		</div>
		<div class="textNote termsNote">By creating this collection, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Rename View -->
	<div class="view" ng-show="ctrl.currView=='rename'" ng-cloak>
		<div class="infoText createTitle">Rename and Update</div>
		<md-input-container md-no-float class="nameInput md-block">
			<input md-autofocus ng-model="ctrl.collectionName" ng-change="ctrl.filterCollectionName()" placeholder="Name"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLight">Gas: {{ctrl.cost | ethprice}}</div>
			<md-button ng-click="ctrl.update()">Update</md-button>
		</div>
		<div class="textNote termsNote">By updating this collection, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Clear View -->
	<div class="view" ng-show="ctrl.currView=='clear'" ng-cloak>
		<div class="infoText createTitle"><b>Clear Collection</b></div>
		<div class="infoText">Are you sure?</div>
		<div class="actionButtons">
			<div class="note textLight">Gas: {{ctrl.cost | ethprice}}</div>
			<md-button ng-click="ctrl.clear()">Clear</md-button>
		</div>
		<div class="textNote termsNote">By clearing this collection, you agree to the <a class="light link textDark" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
