/* General */
div.pixelconOwnerPage {
	width: 100%;
	text-align: center;
}
div.pixelconOwnerPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconOwnerPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconOwnerPage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconOwnerPage.sm div.bottomSpacer {
	height: 20px;
}
div.pixelconOwnerPage div.maxWidth {
	width: calc(100% - 60px);
	max-width: 900px;
	display: inline-block;
}
div.pixelconOwnerPage.md div.maxWidth {
	max-width: 800px;
}
div.pixelconOwnerPage.sm div.maxWidth {
	width: calc(100% - 16px);
}
div.pixelconOwnerPage div.accountCard {
	display: inline-block;
	max-width: 100%;
	min-width: 500px;
	border-radius: 15px;
}
div.pixelconOwnerPage.sm div.accountCard {
	min-width: 340px;
}

/* Owner Card Container: Pixelcon Window */
div.pixelconOwnerPage div.displayWindow {
	position: relative;
	box-sizing: border-box;
	padding: 50px 10px 5px 10px;
	border-radius: 15px;
	min-height: 200px;
}
div.pixelconOwnerPage div.displayWindowAccountContainer {
	position: absolute;
	top: 10px;
	left: 10px;
}
div.pixelconOwnerPage div.accountIcon {
	position: relative;
	display: inline-block;
	font-size: 0px;
	vertical-align: middle;
}
div.pixelconOwnerPage div.accountIcon div.accountIconShade {
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border-radius: 4px;
}
div.pixelconOwnerPage div.displayWindowAccountContainer div.accountText {
	font-size: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	color: #FFFFFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconOwnerPage div.displayTable {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
div.pixelconOwnerPage .pixelconCard {
	display: inline-block;
	margin: 12px;
	margin-bottom: 20px;
}
div.pixelconOwnerPage.md .pixelconCard {
	margin: 9px;
	margin-bottom: 18px;
}
div.pixelconOwnerPage.sm .pixelconCard {
	margin: 6px;
	margin-bottom: 16px;
}
div.pixelconOwnerPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -38px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	border-radius: 15px;
}
div.pixelconOwnerPage div.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px -50px;
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
}

/* Card Details */
div.pixelconOwnerPage div.detailsSection {
	padding: 5px;
	text-align: left;
	min-height: 55px;
}
div.pixelconOwnerPage div.detailsInnerSection {
	padding-left: 5px;
	padding-right: 5px;
}
div.pixelconOwnerPage div.detailsSectionMenuBar {
	position: relative;
	width: calc(100% - 50px);
	padding-right: 50px;
}
div.pixelconOwnerPage div.detailsSectionMenuBarText {
	display: inline-block;
	vertical-align: bottom;
}
div.pixelconOwnerPage div.detailsSectionMoreButton {
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 0px;
}
div.pixelconOwnerPage div.detailsSectionMoreButton button {
	margin: 0px;
}
div.pixelconOwnerPage div.detailsSectionMoreButton .share {
	background-image: url("/img/icon_share.svg");
}
div.pixelconOwnerPage div.detailsSectionMoreButton .buy {
	background-image: url("/img/icon_tag.svg");
}
div.pixelconOwnerPage div.detailsSectionFooter {
	width: 100%;
	text-align: right;
}
