/* General */
div.pixelconCreatePage {
	width: 100%;
}
div.pixelconCreatePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconCreatePage.sm div.topSpacer {
	height: 10px;
}
div.pixelconCreatePage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconCreatePage.sm div.bottomSpacer {
	height: 10px;
}

/* Card Container */
div.pixelconCreatePage div.createCard {
	width: 1000px;
	max-width: calc(100% - 60px);
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconCreatePage.sm div.createCard {
	max-width: calc(100% - 16px);
}
div.pixelconCreatePage div.loading {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
}
div.pixelconCreatePage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -50px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	border-radius: 15px;
}

/* Card Tabs */
div.pixelconCreatePage div.createTabContainer {
	position: relative;
	width: 100%;
	height: 40px;
	border-radius: 15px;
	overflow: visible;
}
div.pixelconCreatePage.sm div.createTabContainer {
	height: 36px;
}
div.pixelconCreatePage div.createTabContainer div.tabBackground {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
	background-color: #e6e6e6;
	border-radius: 15px;
	font-size: 0px;
}
div.pixelconCreatePage div.createTabContainer div.tab {
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	font-size: 14px;
	padding: 0px 15px;
	line-height: 40px;
	cursor: pointer;
	border-width: 0px;
	border-style: none;
	transition: background-color cubic-bezier(0.35, 0, 0.25, 1) 0.08s;
}
div.pixelconCreatePage.sm div.createTabContainer div.tab {
	padding: 0px 10px;
	line-height: 36px;
}
div.pixelconCreatePage div.createTabContainer div.tab:hover {
	background-color: #d0d0d0
}
div.pixelconCreatePage div.createTabContainer div.tab.highlight {
	background-color: #f7f7f7;
	border-color: #cacaca;
	border-style: solid;
	font-weight: 600;
}
div.pixelconCreatePage div.createTabContainer div.tab.disabled {
	display: none;
}
div.pixelconCreatePage div.createTabContainer div.tab.roundLeftCorner {
	border-top-left-radius: 15px;
}
div.pixelconCreatePage div.createTabContainer div.tab.roundRightCorner {
	border-top-right-radius: 15px;
}
div.pixelconCreatePage div.createTabContainer div.tab.rightBorder {
	border-width: 0px 2px 0px 0px;
}
div.pixelconCreatePage div.createTabContainer div.tab.leftBorder {
	border-width: 0px 0px 0px 2px;
}
div.pixelconCreatePage div.createTabContainer div.tab.leftRightBorder {
	border-width: 0px 2px 0px 2px;
}

/* Create Window */
div.pixelconCreatePage div.createWindow {
	position: relative;
	width: 100%;
	min-height: 300px;
	border-radius: 15px;
	text-align: center;
}
div.pixelconCreatePage div.windowSectionLabel {
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 0px 20px;
	box-sizing: border-box;
	color: #fff;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
div.pixelconCreatePage div.windowSectionLabel.topLabel {
	padding-top: 10px;
}

/* Canvas Tab */
div.pixelconCreatePage div.pixelconCanvas {
	display: inline-block;
	padding: 30px 38px 38px 30px;
	width: 320px;
	height: 320px;
}
div.pixelconCreatePage.sm div.pixelconCanvas {
	width: 256px;
	height: 256px;
}
div.pixelconCreatePage.lg div.pixelconCanvas {
	width: 384px;
	height: 384px;
}
div.pixelconCreatePage div.pixelconCanvasGrid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(8, 12.5%);
	grid-row-gap: 1px;
	grid-column-gap: 1px;
}
div.pixelconCreatePage div.pixelconPalette {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	width: 316px;
	height: 94px;
}
div.pixelconCreatePage.sm div.pixelconPalette {
	width: 256px;
	height: 64px;
}
div.pixelconCreatePage.lg div.pixelconPalette {
	width: 288px;
	height: 72px;
}
div.pixelconCreatePage div.pixelconPaletteGrid {
	position: absolute;
	top: 0px;
	left: calc(50% - 128px);
	width: 256px;
	height: 64px;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(2, 50%);
}
div.pixelconCreatePage div.canvasPixel {
	cursor: pointer;
}
div.pixelconCreatePage div.palettePixel {
	cursor: pointer;
	margin: 2px;
}
div.pixelconCreatePage div.palettePixel.selected {
	margin: 0px;
	border: 2px;
	border-style: solid;
	border-color: #ffffff;
}
div.pixelconCreatePage div.idText {
	font-size: 11px;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
}
div.pixelconCreatePage.lg div.idText {
	font-size: 12px;
}
div.pixelconCreatePage.sm div.idText {
	font-size: 8px;
}

/* Collection Tab */
div.pixelconCreatePage div.displayTable {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
div.pixelconCreatePage .pixelconCard {
	display: inline-block;
	position: relative;
	margin: 12px;
	margin-bottom: 20px;
}
div.pixelconCreatePage.md .pixelconCard {
	margin: 9px;
	margin-bottom: 18px;
}
div.pixelconCreatePage.sm .pixelconCard {
	margin: 6px;
	margin-bottom: 16px;
}

/* Advanced Tab */
div.pixelconCreatePage div.fileUpload {
	position: relative;
	display: inline-block;
	width: calc(100% - 40px);
	box-sizing: border-box;
	margin: 20px 0px;
	padding: 20px;
	font-size: 16px;
	color: #fff;
	height: 100px;
	border: dashed 2px #fff;
	border-radius: 20px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconCreatePage div.fileUpload:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
div.pixelconCreatePage input.uploadInput {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
div.pixelconCreatePage div.alreadyCreatedPixelconContainer {
	box-sizing: border-box;
	padding: 0px 20px 15px 20px;
	width: 100%;
	text-align: left;
}
div.pixelconCreatePage div.alreadyCreatedPixelcon {
	position: relative;
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 2px;
}
div.pixelconCreatePage div.alreadyCreatedPixelconCover {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(51, 51, 51, 0.5);
	width: 100%;
	height: 100%;
}
div.pixelconCreatePage div.alreadyCreatedPixelconGotoIcon {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/icon_goto_w.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
div.pixelconCreatePage div.alreadyCreatedPixelcon:hover div.alreadyCreatedPixelconGotoIcon {
	display: inline-block;
}
div.pixelconCreatePage div.advancedPixelconContainer {
	box-sizing: border-box;
	padding: 0px 10px 20px 10px;
	width: 100%;
	text-align: left;
	font-size: 0px;
}
div.pixelconCreatePage div.advancedPixelcon {
	position: relative;
	width: 88px;
	height: 118px;
	display: inline-block;
	margin: 10px;
}
div.pixelconCreatePage div.advancedPixelconImage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 88px;
	height: 88px;
	cursor: pointer;
}
div.pixelconCreatePage div.advancedPixelconCover {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(51, 51, 51, 0.7);
	width: 100%;
	height: 100%;
}
div.pixelconCreatePage div.advancedPixelconImage:hover div.advancedPixelconCover {
	display: inline-block;
}
div.pixelconCreatePage div.advancedPixelconRemoveIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/icon_remove_w.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
div.pixelconCreatePage div.advancedNameInputContainer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 26px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #ffffffc2;
}
div.pixelconCreatePage .nameInput {
	width: 100%;
	margin: 2px 0px;
	padding: 0px 4px;
	box-sizing: border-box;
	font-size: 14px;
}
div.pixelconCreatePage .nameInput input {
	text-align: center;
	height: 20px;
}

/* Card Details */
div.pixelconCreatePage div.actions {
	margin: 0px 10px;
	min-height: 50px;
}
div.pixelconCreatePage div.info {
	padding: 10px 0px;
	text-align: center;
}
div.pixelconCreatePage .buttonContainer {
	height: 50px;
}
div.pixelconCreatePage .actionButton {
	margin: 1px;
}
div.pixelconCreatePage .startButton {
	margin-bottom: 0px;
	max-height: 30px;
	min-height: 30px;
	line-height: 30px;
}
