/* General */
div.pixelconCreatePage {
	width: 100%;
}
div.pixelconCreatePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconCreatePage.sm div.topSpacer {
	height: 10px;
}
div.pixelconCreatePage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconCreatePage.sm div.bottomSpacer {
	height: 10px;
}

/* Details Card Container */
div.pixelconCreatePage div.createCard {
	width: 560px;
	border-radius: 15px;
	min-height: 590px;
	margin: 0 auto;
}
div.pixelconCreatePage.sm div.createCard {
	width: 350px;
	min-height: 475px;
}
div.pixelconCreatePage.lg div.createCard {
	width: 950px;
	min-height: 550px;
}

/* Card Image */
div.pixelconCreatePage div.createWindow {
	position: relative;
	width: 100%;
	height: 520px;
	border-radius: 15px;
}
div.pixelconCreatePage.sm div.createWindow {
	height: 410px;
}
div.pixelconCreatePage.lg div.createWindow {
	height: 480px;
}
div.pixelconCreatePage div.newTag {
	position: absolute;
	left: 10px;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
div.pixelconCreatePage.sm div.newTag {
	top: 7px;
	font-size: 10px;
}
div.pixelconCreatePage div.pixelconCanvas {
	position: absolute;
	left: 116px;
	top: 40px;
	width: 320px;
	height: 320px;
	padding-bottom: 8px;
	padding-right: 8px;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(8, 12.5%);
	grid-row-gap: 1px;
	grid-column-gap: 1px;
}
div.pixelconCreatePage.sm div.pixelconCanvas {
	width: 256px;
	height: 256px;
	left: 43px;
	top: 30px;
}
div.pixelconCreatePage.lg div.pixelconCanvas {
	width: 384px;
	height: 384px;
}
div.pixelconCreatePage div.pixelconPalette {
	position: absolute;
	left: 152px;
	top: 410px;
	width: 256px;
	height: 64px;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(2, 50%);
}
div.pixelconCreatePage.sm div.pixelconPalette {
	left: 47px;
	top: 318px;
	width: 256px;
	height: 64px;
}
div.pixelconCreatePage.lg div.pixelconPalette {
	left: 550px;
	top: 40px;
	width: 288px;
	height: 72px;
}
div.pixelconCreatePage div.canvasPixel {
	cursor: pointer;
}
div.pixelconCreatePage div.palettePixel {
	cursor: pointer;
	margin: 2px;
}
div.pixelconCreatePage div.palettePixel.selected {
	margin: 0px;
	border: 2px;
	border-style: solid;
	border-color: #ffffff;
}

/* Card Details */
div.pixelconCreatePage div.actions {
	margin: 0px 8px;
}
div.pixelconCreatePage div.info {
	text-align: center;
	margin-top: 10px;
}
div.pixelconCreatePage.sm div.info {
	margin-top: 2px;
	margin-right: 7px;
}
div.pixelconCreatePage div.idText {
	font-size: 11px;
	line-height: 22px;
	font-family: monospace;
	font-weight: bold;
}
div.pixelconCreatePage.lg div.idText {
	font-size: 12px;
}
div.pixelconCreatePage.sm div.idText {
	font-size: 8px;
	line-height: 18px;
}
div.pixelconCreatePage .actionButton {
	margin: 1px;
}
div.pixelconCreatePage .startButton {
	margin-bottom: 10px;
	max-height: 30px;
	min-height: 30px;
	line-height: 30px;
}
