<div class="footer" ng-class="ctrl.screenSize">

	<!-- Links -->
	<div layout="row" class="mainContainer">
		<div layout="column" class="linkContainer leftPadding">
			<a class="plain light link textDark" href="/search">Browse</a>
			<a class="plain light link textDark" href="/create">Create</a>
			<a class="plain light link textDark" ng-class="{disabled:ctrl.noWeb3}" ng-href="{{ctrl.noWeb3?'':'/account'}}">Account</a>
		</div>
		<div layout="column" class="linkContainer">
			<a class="plain light link textDark" href="/">About</a>
			<a class="plain light link textDark" href="/start">Get Started</a>
			<a class="plain light link textDark" href="/terms">Terms of Use</a>
		</div>
		<div layout="column" class="socialContainer rightPadding">
			<a class="plain light socialLink github" href="https://github.com/PixelCons"></a>
			<a class="plain light socialLink twitter" href="https://twitter.com/PixelConsToken"></a>
			<a class="plain light socialLink opensea" href="https://opensea.io/category/pixelcons"></a>
			<a class="plain light socialLink medium" href="https://medium.com/@pixelcons"></a>
			<md-button class="tipButton md-raised md-primary" ng-click="ctrl.tip($event)" aria-label="Tip">Tip</md-button>
			<md-button class="settingsButton md-raised " ng-click="ctrl.openSettings($event)" aria-label="Settings"><div class="settingsButtonIcon"></div></md-button>
		</div>
		<div class="copyright textSmall textLight">© 2021 PixelCons</div>
	</div>
	
</div>
