<div class="pixelconStartPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="titleCard colorLight textExxLarge textBold textCenter textSelectable">
		Account Setup
		<div class="divider colorGray"></div>
	</div>
	
	<div class="colorLight">
		<div class="fullCard textMedium textLight textCenter">
		
			<div ng-if="!ctrl.activeAccount">
				<div class="ethereumImage crispImage"><img src="/img/large/ethereum.png" alt="Ethereum"></div>
				<div class="textBox large textSelectable">
					<div class="textExLarge textBold textDark textCenter">Create an Ethereum Account</div><br/>
					PixelCons is a decentralized application built on the Ethereum blockchain. If you want to create and trade PixelCons, you must first make an Ethereum account. If you are new to Ethereum we recommend the following setup steps...
				</div>
			</div>
				
			<div ng-if="ctrl.activeAccount">
				<div class="ethereumImage account"><img class="crispImage md-whiteframe-2dp" ng-src="{{ctrl.addressIcon}}"/></div>
				<div class="textBox large textSelectable">
					<div class="textExLarge textBold textDark textCenter">Account Ready!</div><br/>
					Your Ethereum account is successfully connected. Check out the <b>How To...</b> section below to learn how to make and trade PixelCons!<br/><br/>
					<md-button class="setupShowHide" ng-click="ctrl.hideSetup = !ctrl.hideSetup">{{ctrl.hideSetup?'Show':'Hide'}} Setup Steps</md-button>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="setupProcedure textCenter" ng-class="{'hidden': ctrl.hideSetup}">
		<div class="floatCard colorLight textMedium textLight">
			
			<div layout="row" layout-align="space-between center" class="stepTabContainer textDark">
				<div class="connectingLine"></div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==1}" ng-click="ctrl.setStepTab(1)">
						<div class="stepTabNum textBold textExLarge">1</div>
						<img class="stepTabIcon" src="/img/icon_globe.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.browserCheck}"></div>
					</div>
				</div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==2}" ng-click="ctrl.setStepTab(2)">
						<div class="stepTabNum textBold textExLarge">2</div>
						<img ng-if="!ctrl.recommendMetaMask" class="stepTabIcon" src="/img/icon_link.svg">
						<img ng-if="ctrl.recommendMetaMask" class="stepTabIcon" src="/img/icon_metamask.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.linkCheck}"></div>
					</div>
				</div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==3}" ng-click="ctrl.setStepTab(3)">
						<div class="stepTabNum textBold textExLarge">3</div>
						<img class="stepTabIcon" src="/img/icon_eth.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.accountCheck}"></div>
					</div>
				</div>
			</div>
			
			<div class="stepContentContainer">
				<div class="stepNavButton navBack clickable" ng-click="ctrl.setStepTab(ctrl.stepTab-1)"></div>
				<div class="stepContent">
					<div class="stepContentPage"></div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=1}">
						<div class="textBox medium textMedium textSelectable">
							<div class="textExLarge textBold textDark textCenter">1. Browser Compatibility</div><br/>
							<div ng-if="ctrl.recommendMetaMask">First, you need to be viewing this site from a desktop web browser that is compatible with Ethereum apps. Please make sure you are using either <a class="light textDark textBold" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, <a class="light textDark textBold" target="_blank" href="https://www.mozilla.org/en-US/firefox/">Firefox</a>, <a class="light textDark textBold" target="_blank" href="https://brave.com/">Brave</a> or <a class="light textDark textBold" target="_blank" href="https://www.microsoft.com/en-us/edge">Edge</a>.</div>
							<div ng-if="!ctrl.recommendMetaMask">First, you need to be viewing this site from a web browser that is compatible with Ethereum apps. Please make sure you are using either <a class="light textDark textBold" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, <a class="light textDark textBold" target="_blank" href="https://www.mozilla.org/en-US/firefox/">Firefox</a>, <a class="light textDark textBold" target="_blank" href="https://brave.com/">Brave</a>, <a class="light textDark textBold" target="_blank" href="https://www.microsoft.com/en-us/edge">Edge</a> or another compatible browser.</div>
						</div>
						<div class="stepContentImage"><img src="/img/large/browsers.png"></div>
					</div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=2}">
						<div class="textBox medium textMedium textSelectable">
							<div ng-if="ctrl.recommendMetaMask" class="textExLarge textBold textDark textCenter">2. Install MetaMask</div><br/>
							<div ng-if="ctrl.recommendMetaMask">Your browser now needs to be able to connect to the Ethereum blockchain using a browser extension called <a class="light textDark textBold" target="_blank" href="https://metamask.io/download.html">MetaMask</a>. Once installed, click on its icon and proceed to set up your Ethereum account.</div>
							<div ng-if="!ctrl.recommendMetaMask" class="textExLarge textBold textDark textCenter">2. Connect to Ethereum</div><br/>
							<div ng-if="!ctrl.recommendMetaMask">Your browser now needs to be able to connect to the Ethereum blockchain. Please make sure your browser is providing the Ethereum JavaScript API to loaded web pages.</div>
						</div>
						<div ng-if="ctrl.recommendMetaMask" class="stepContentImage md-whiteframe-3dp"><img src="/img/large/metamask.png"></div>
						<div ng-if="!ctrl.recommendMetaMask" class="stepContentImage"><img src="/img/large/web3.png"></div>
					</div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=3}">
						<div class="textBox medium textMedium textSelectable">
							<div class="textExLarge textBold textDark textCenter">3. Explore/Manage Account</div><br/>
							<div ng-if="ctrl.recommendMetaMask">Lastly, please make sure you have setup and are logged into your Ethereum account in MetaMask. You should now see your account pictured in the top right corner of the site. Please take some time to familiarize yourself with Ethereum and the PixelCons app before funding your account with Eth.</div>
							<div ng-if="!ctrl.recommendMetaMask">Lastly, please make sure you have setup and are logged into your Ethereum account. You should now see your account pictured in the top right corner of the site. Please take some time to familiarize yourself with Ethereum and the PixelCons app before funding your account with Eth.</div>
						</div>
						<div class="stepContentImageWrapper"><div class="stepContentImage md-whiteframe-3dp"><img src="/img/large/account.png"></div></div>
					</div>
					
				</div>
				<div class="stepNavButton navForward clickable" ng-click="ctrl.setStepTab(ctrl.stepTab+1)"></div>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="startCardContainer titleCard colorLight textExxLarge textBold textCenter textSelectable">
		How To...
		<div class="divider colorGray"></div>
	</div>
	<div class="startCardContainer colorLight textCenter textSelectable">
		<br/>

		<div class="centerContent textExLarge textBold textDark clickable" ng-click="ctrl.toggleHowToSection('browse')">
			<div class="iconImg large searchIcon"></div>
			Browse PixelCons
			<div class="iconImg large" ng-class="{'expandAllIcon':!ctrl.checkHowToSectionExpanded('browse'), 'collapseAllIcon':ctrl.checkHowToSectionExpanded('browse')}"></div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.browse.byName = !ctrl.hideHowTo.browse.byName">
				Search by Name
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.browse.byName, 'collapseIcon':!ctrl.hideHowTo.browse.byName}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.browse.byName}">
				<div class="expandContainerText textMedium textLight">
					At the top of the the <a class="plain textDark textBold" href="/search">Browse</a> page, there is a search bar to search for PixelCons by name. The results will be sorted by closest match first with a page select located at the bottom. Leaving this blank simply fetches all PixelCons currently in existence.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen1.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.browse.forSale = !ctrl.hideHowTo.browse.forSale">
				Search PixelCons for Sale
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.browse.forSale, 'collapseIcon':!ctrl.hideHowTo.browse.forSale}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.browse.forSale}">
				<div class="expandContainerText textMedium textLight">
					You can search for PixelCons that are for sale on <a class="light textDark textBold" href="https://opensea.io/assets/pixelcons?toggle%5Bon_sale%5D=true">OpenSea</a>. Any other market that supports ERC-721 NFTs should allow for buying/selling/trading as well.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen2.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.browse.results = !ctrl.hideHowTo.browse.results">
				PixelCon Result Details
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.browse.results, 'collapseIcon':!ctrl.hideHowTo.browse.results}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.browse.results}">
				<div class="expandContainerText textMedium textLight">
					PixelCons are displayed with different indicators to illustrate their details at a glance. PixelCons that you own will have the account icon in the bottom right corner. If a PixelCon is part of a collection, it will have a collection icon in the bottom left corner. Hovering your cursor over each result will show specifics about what collection it might belong to.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen3.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		
		<br/><br/>
		<div class="divider colorGray"></div>
		<br/>
		
		<div class="centerContent textExLarge textBold textDark clickable" ng-click="ctrl.toggleHowToSection('details')">
			<div class="iconImg large listIcon"></div>
			View Details
			<div class="iconImg large" ng-class="{'expandAllIcon':!ctrl.checkHowToSectionExpanded('details'), 'collapseAllIcon':ctrl.checkHowToSectionExpanded('details')}"></div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.details.pixelcon = !ctrl.hideHowTo.details.pixelcon">
				PixelCon Details
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.details.pixelcon, 'collapseIcon':!ctrl.hideHowTo.details.pixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.details.pixelcon}">
				<div class="expandContainerText textMedium textLight">
				Clicking on a PixelCon from any page, will take you to the <b>PixelCon Details</b> page. Here you can see additional information about a PixelCon like Name, Number, Date Created, Creator and Owner. You can also see details about the PixelCons Collection if applicable.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/large/screen4.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.details.collection = !ctrl.hideHowTo.details.collection">
				Collection Details
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.details.collection, 'collapseIcon':!ctrl.hideHowTo.details.collection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.details.collection}">
				<div class="expandContainerText textMedium textLight">
				Clicking on the collection icon from the <b>PixelCon Details</b> page, will take you the <b>Collection Details</b> page. Here you can see all the PixelCons in the collection as well as the collection details like Name, Number and Creator.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen5.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.details.creator = !ctrl.hideHowTo.details.creator">
				Creator Details
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.details.creator, 'collapseIcon':!ctrl.hideHowTo.details.creator}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.details.creator}">
				<div class="expandContainerText textMedium textLight">
				Clicking on the creator icon from the <b>PixelCon Details</b> or <b>Collection Details</b> page, will take you the <b>Creator Details</b> page. Here you can see all the PixelCons that were created by the creator account.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen6.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		
		<br/><br/>
		<div class="divider colorGray"></div>
		<br/>
		<div class="centerContent textExLarge textBold textDark clickable" ng-click="ctrl.toggleHowToSection('create')">
			<div class="iconImg large createIcon"></div>
			Create PixelCons
			<div class="iconImg large" ng-class="{'expandAllIcon':!ctrl.checkHowToSectionExpanded('create'), 'collapseAllIcon':ctrl.checkHowToSectionExpanded('create')}"></div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.create.pixelcon = !ctrl.hideHowTo.create.pixelcon">
				Create PixelCons
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.create.pixelcon, 'collapseIcon':!ctrl.hideHowTo.create.pixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.create.pixelcon}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Create</b> page, you can draw your own PixelCons from a palette of sixteen colors. All PixelCons must be unique, so make something new and creative! From the Advanced tab, you can create multiple PixelCons from an imported file.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/large/screen7.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.create.collection = !ctrl.hideHowTo.create.collection">
				Create Collection
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.create.collection, 'collapseIcon':!ctrl.hideHowTo.create.collection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.create.collection}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Create</b> page, you can organize your created PixelCons into Collections from the Collection tab. From this page you can select the PixelCons you want to be grouped into a collection. Only PixelCons you currently own, created and are not already in a collection are availabe to select.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen8.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.create.editPixelcon = !ctrl.hideHowTo.create.editPixelcon">
				Edit PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.create.editPixelcon, 'collapseIcon':!ctrl.hideHowTo.create.editPixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.create.editPixelcon}">
				<div class="expandContainerText textMedium textLight">
				On the <b>PixelCon Details</b> page, if you are the current owner you will see a menu button with a drop down for different actions. If you are the current owner and creator, you can rename the PixelCon. If you are the owner, you can send the PixelCon to another account.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/large/screen9.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.create.editCollection = !ctrl.hideHowTo.create.editCollection">
				Edit Collection
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.create.editCollection, 'collapseIcon':!ctrl.hideHowTo.create.editCollection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.create.editCollection}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Collection Details</b> page, if you are the current owner and creator of all PixelCons in the collection you will see a menu button with a drop down for different actions. These actions include renaming and clearing the collection.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen10.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		
		<br/><br/>
		<div class="divider colorGray"></div>
		<br/>
		
		<div class="centerContent textExLarge textBold textDark clickable" ng-click="ctrl.toggleHowToSection('account')">
			<div class="iconImg large accountIcon"></div>
			Your Account
			<div class="iconImg large" ng-class="{'expandAllIcon':!ctrl.checkHowToSectionExpanded('account'), 'collapseAllIcon':ctrl.checkHowToSectionExpanded('account')}"></div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.account.activity = !ctrl.hideHowTo.account.activity">
				Account Activity
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.account.activity, 'collapseIcon':!ctrl.hideHowTo.account.activity}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.account.activity}">
				<div class="expandContainerText textMedium textLight">
				When logged in, your account icon will appear in the top right corner of the page. Clicking on this icon will display any pending transactions you've made as well as links to view their status in a block explorer. A spinner will also appear on this icon if you currently have any transactions being processed by the network.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/large/screen11.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.account.wallet = !ctrl.hideHowTo.account.wallet">
				View Wallet
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.account.wallet, 'collapseIcon':!ctrl.hideHowTo.account.wallet}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.account.wallet}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Account</b> page, you can view the PixelCons that you currently own. You can sort your collection by either Name or Date Created.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen12.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.account.sendPixelcons = !ctrl.hideHowTo.account.sendPixelcons">
				Send PixelCons
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.account.sendPixelcons, 'collapseIcon':!ctrl.hideHowTo.account.sendPixelcons}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.account.sendPixelcons}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Account</b> page, there is a menu button with a drop down for different actions including sending you PixelCons to a different account. Select the PixelCon you wish to send, and click Send.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/large/screen13.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideHowTo.account.sellPixelcons = !ctrl.hideHowTo.account.sellPixelcons">
				Sell PixelCons
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideHowTo.account.sellPixelcons, 'collapseIcon':!ctrl.hideHowTo.account.sellPixelcons}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideHowTo.account.sellPixelcons}">
				<div class="expandContainerText textMedium textLight">
				You can list PixelCons for sale through OpenSea. Visit your <a class="light textDark textBold" href="https://opensea.io/account">OpenSea</a> account page to make listings from there or manage existing ones and potential offers.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/large/screen2.png" alt="Your Account" ng-click="">
			</div>
		</div>
		
		<br/><br/><br/>
	</div>
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
