<div class="pixelconStartPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="titleCard colorLight textExxLarge textBold textCenter textSelectable">
		Account Setup
		<div class="divider colorGray"></div>
	</div>
	
	<div class="colorLight">
		<div class="fullCard textMedium textLight textCenter">
		
			<div ng-if="!ctrl.activeAccount">
				<div class="ethereumImage crispImage"><img src="/img/screen/ethereum.png" alt="Ethereum"></div>
				<div class="textBox large textSelectable">
					<div class="textExLarge textBold textDark textCenter">Create an Ethereum Account</div><br/>
					PixelCons is a decentralized application built on the Ethereum blockchain. If you want to create and trade PixelCons, you must first make an Ethereum account. If you are new to Ethereum we recommend the following setup steps...
				</div>
			</div>
				
			<div ng-if="ctrl.activeAccount">
				<div class="ethereumImage account"><img class="crispImage md-whiteframe-2dp" ng-src="{{ctrl.addressIcon}}"/></div>
				<div class="textBox large textSelectable">
					<div class="textExLarge textBold textDark textCenter">Account Ready!</div><br/>
					Your Ethereum account is successfully connected. Check out the <b>How To...</b> section below to learn how to make and trade PixelCons!<br/><br/>
					<md-button class="setupShowHide" ng-click="ctrl.hideSetup = !ctrl.hideSetup">{{ctrl.hideSetup?'Show':'Hide'}} Setup Steps</md-button>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="setupProcedure textCenter" ng-class="{'hidden': ctrl.hideSetup}">
		<div class="floatCard colorLight textMedium textLight">
			
			<div layout="row" layout-align="space-between center" class="stepTabContainer textDark">
				<div class="connectingLine"></div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==1}" ng-click="ctrl.setStepTab(1)">
						<div class="stepTabNum textBold textExLarge">1</div>
						<img class="stepTabIcon" src="/img/icon_globe.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.browserCheck}"></div>
					</div>
				</div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==2}" ng-click="ctrl.setStepTab(2)">
						<div class="stepTabNum textBold textExLarge">2</div>
						<img ng-if="!ctrl.recommendMetaMask" class="stepTabIcon" src="/img/icon_link.svg">
						<img ng-if="ctrl.recommendMetaMask" class="stepTabIcon" src="/img/icon_metamask.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.linkCheck}"></div>
					</div>
				</div>
				<div class="stepTabOptionWrapper colorLight">
					<div class="stepTabOption clickable" ng-class="{'selected':ctrl.stepTab==3}" ng-click="ctrl.setStepTab(3)">
						<div class="stepTabNum textBold textExLarge">3</div>
						<img class="stepTabIcon" src="/img/icon_eth.svg">
						<div class="checkBadge" ng-class="{'complete':ctrl.accountCheck}"></div>
					</div>
				</div>
			</div>
			
			<div class="stepContentContainer">
				<div class="stepNavButton navBack clickable" ng-click="ctrl.setStepTab(ctrl.stepTab-1)"></div>
				<div class="stepContent">
					<div class="stepContentPage"></div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=1}">
						<div class="textBox medium textMedium textSelectable">
							<div class="textExLarge textBold textDark textCenter">1. Browser Compatibility</div><br/>
							<div ng-if="ctrl.recommendMetaMask">First, you need to be viewing this site from a desktop web browser that is compatible with Ethereum apps. Please make sure you are using either <a class="light textDark textBold" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, <a class="light textDark textBold" target="_blank" href="https://www.mozilla.org/en-US/firefox/">Firefox</a>, <a class="light textDark textBold" target="_blank" href="https://brave.com/">Brave</a> or <a class="light textDark textBold" target="_blank" href="https://www.microsoft.com/en-us/edge">Edge</a>.</div>
							<div ng-if="!ctrl.recommendMetaMask">First, you need to be viewing this site from a web browser that is compatible with Ethereum apps. Please make sure you are using either <a class="light textDark textBold" target="_blank" href="https://www.google.com/chrome/">Chrome</a>, <a class="light textDark textBold" target="_blank" href="https://www.mozilla.org/en-US/firefox/">Firefox</a>, <a class="light textDark textBold" target="_blank" href="https://brave.com/">Brave</a>, <a class="light textDark textBold" target="_blank" href="https://www.microsoft.com/en-us/edge">Edge</a> or another compatible browser.</div>
						</div>
						<div class="stepContentImage"><img src="/img/screen/browsers.png"></div>
					</div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=2}">
						<div class="textBox medium textMedium textSelectable">
							<div ng-if="ctrl.recommendMetaMask" class="textExLarge textBold textDark textCenter">2. Install MetaMask</div><br/>
							<div ng-if="ctrl.recommendMetaMask">Your browser now needs to be able to connect to the Ethereum blockchain using a browser extension called <a class="light textDark textBold" target="_blank" href="https://metamask.io/download.html">MetaMask</a>. Once installed, click on its icon and proceed to set up your Ethereum account.</div>
							<div ng-if="!ctrl.recommendMetaMask" class="textExLarge textBold textDark textCenter">2. Connect to Ethereum</div><br/>
							<div ng-if="!ctrl.recommendMetaMask">Your browser now needs to be able to connect to the Ethereum blockchain. Please make sure your browser is providing the Ethereum JavaScript API to loaded web pages.</div>
						</div>
						<div ng-if="ctrl.recommendMetaMask" class="stepContentImage md-whiteframe-3dp"><img src="/img/screen/metamask.png"></div>
						<div ng-if="!ctrl.recommendMetaMask" class="stepContentImage"><img src="/img/screen/web3.png"></div>
					</div>
				
					<div class="stepContentPage over" ng-class="{'stepTabTransition': ctrl.loaded, 'hidden':ctrl.stepTab!=3}">
						<div class="textBox medium textMedium textSelectable">
							<div class="textExLarge textBold textDark textCenter">3. Explore/Manage Account</div><br/>
							<div ng-if="ctrl.recommendMetaMask">Lastly, please make sure you have setup and are logged into your Ethereum account in MetaMask. You should now see your account pictured in the top right corner of the site. Please take some time to familiarize yourself with Ethereum and the PixelCons app before funding your account with Eth.</div>
							<div ng-if="!ctrl.recommendMetaMask">Lastly, please make sure you have setup and are logged into your Ethereum account. You should now see your account pictured in the top right corner of the site. Please take some time to familiarize yourself with Ethereum and the PixelCons app before funding your account with Eth.</div>
						</div>
						<div class="stepContentImageWrapper"><div class="stepContentImage md-whiteframe-3dp"><img src="/img/screen/account.png"></div></div>
					</div>
					
				</div>
				<div class="stepNavButton navForward clickable" ng-click="ctrl.setStepTab(ctrl.stepTab+1)"></div>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	
	<div class="startCardContainer titleCard colorLight textExxLarge textBold textCenter textSelectable">
		How To...
		<div class="divider colorGray"></div>
	</div>
	<div class="startCardContainer colorLight textCenter textSelectable">
		<br/>

		<div class="centerContent textExLarge textBold textDark">
			<div class="iconImg large searchIcon"></div>
			Browse PixelCons
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideSearchByName = !ctrl.hideSearchByName">
				Search by Name
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideSearchByName, 'collapseIcon':!ctrl.hideSearchByName}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideSearchByName}">
				<div class="expandContainerText textMedium textLight">
					At the top of the the <b>Browse</b> page, there is a search bar to search for PixelCons by name. The results will be sorted by closest match first with a page select located at the bottom. Leaving this blank simply fetches all PixelCons currently in existence.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen1.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideSearchForSale = !ctrl.hideSearchForSale">
				Search PixelCons for Sale
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideSearchForSale, 'collapseIcon':!ctrl.hideSearchForSale}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideSearchForSale}">
				<div class="expandContainerText textMedium textLight">
					You can search for PixelCons that are for sale on <a class="light textDark textBold" href="https://opensea.io/assets/pixelcons?toggle%5Bon_sale%5D=true">OpenSea</a>. Any other market that supports ERC-721 NFTs should work too.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen2.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideSearchPixelconDetails = !ctrl.hideSearchPixelconDetails">
				PixelCon Result Details
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideSearchPixelconDetails, 'collapseIcon':!ctrl.hideSearchPixelconDetails}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideSearchPixelconDetails}">
				<div class="expandContainerText textMedium textLight">
					PixelCons are displayed with different indicators to illustrate their details at a glance. PixelCons that you own will have the account icon in the bottom right corner. If a PixelCon is part of a collection, it will have a collection icon in the bottom left corner. Additionally, hovering your cursor over each result will show specifics about what collection it might belong to.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen3.png" alt="Search for PixelCons" ng-click="">
			</div>
		</div>
		
		<br/><br/>
		<div class="divider colorGray"></div>
		<br/>
		
		<div class="centerContent textExLarge textBold textDark">
			<div class="iconImg large createIcon"></div>
			View/Create PixelCons
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideViewPixelcon = !ctrl.hideViewPixelcon">
				View PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideViewPixelcon, 'collapseIcon':!ctrl.hideViewPixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideViewPixelcon}">
				<div class="expandContainerText textMedium textLight">
				Clicking on a PixelCon from any page, will take you the <b>PixelCon Details</b> page. Here you can see additional information about a PixelCon like Name, Number, Date Created, Creator and Owner. You can also see details about the PixelCons Collection if applicable.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/screen/screen4.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideEditPixelcon = !ctrl.hideEditPixelcon">
				Edit PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideEditPixelcon, 'collapseIcon':!ctrl.hideEditPixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideEditPixelcon}">
				<div class="expandContainerText textMedium textLight">
				On the <b>PixelCon Details</b> page, if you are the current owner you will see a menu button with a drop down for different actions. As the owner, you have the option of sending it to another account. Additionally as the creator and current owner, you can rename the PixelCon.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/screen/screen5.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideViewCollection = !ctrl.hideViewCollection">
				View Collection
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideViewCollection, 'collapseIcon':!ctrl.hideViewCollection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideViewCollection}">
				<div class="expandContainerText textMedium textLight">
				Clicking on the collection icon from the <b>PixelCon Details</b> page, will take you the <b>Collection Details</b> page. Here you can see all the PixelCons in the collection as well as the collection creator.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen6.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideEditCollection = !ctrl.hideEditCollection">
				Edit Collection
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideEditCollection, 'collapseIcon':!ctrl.hideEditCollection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideEditCollection}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Collection Details</b> page, if you are the owner and creator of all PixelCons in the collection you will see a menu button with a drop down for different actions. These actions include renaming and clearing the collection.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen7.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideViewCreator = !ctrl.hideViewCreator">
				View Creator
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideViewCreator, 'collapseIcon':!ctrl.hideViewCreator}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideViewCreator}">
				<div class="expandContainerText textMedium textLight">
				Clicking on the creator icon from the <b>PixelCon Details</b> or <b>Collection Details</b> page, will take you the <b>Creator Details</b> page. Here you can see all the PixelCons that were created by the creator account.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen8.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideCreatePixelcon = !ctrl.hideCreatePixelcon">
				Create PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideCreatePixelcon, 'collapseIcon':!ctrl.hideCreatePixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideCreatePixelcon}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Create</b> page, you can draw your own PixelCons from a palette of sixteen colors. When you are finished, click the create button to check that it does not already exist. All PixelCons must be unique, so make something new and creative!
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/screen/screen9.png" alt="Create PixelCons" ng-click="">
			</div>
		</div>
		
		<br/><br/>
		<div class="divider colorGray"></div>
		<br/>
		
		<div class="centerContent textExLarge textBold textDark">
			<div class="iconImg large accountIcon"></div>
			Your Account
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideAccountActivity = !ctrl.hideAccountActivity">
				Account Activity
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideAccountActivity, 'collapseIcon':!ctrl.hideAccountActivity}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideAccountActivity}">
				<div class="expandContainerText textMedium textLight">
				When logged in, your account icon will appear in the top right corner of the page. Clicking on this icon will display any pending transactions you've made as well as links to view their status on Etherscan. A spinner will also appear on this icon if you currently have any transactions being processed on the Ethereum network.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/screen/screen10.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideViewWallet = !ctrl.hideViewWallet">
				View Wallet
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideViewWallet, 'collapseIcon':!ctrl.hideViewWallet}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideViewWallet}">
				<div class="expandContainerText textMedium textLight">
				On the <b>Account</b> page, you can view the PixelCons that you currently own. You can sort your collection by either Name or Date Created.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen11.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideSellPixelcon = !ctrl.hideSellPixelcon">
				Sell PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideSellPixelcon, 'collapseIcon':!ctrl.hideSellPixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideSellPixelcon}">
				<div class="expandContainerText textMedium textLight">
				You can list PixelCons for sale through OpenSea. Visit your <a class="light textDark textBold" href="https://opensea.io/account">OpenSea</a> account page and make listings from there or manage existing ones and potential offers.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen12.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideSendPixelcon = !ctrl.hideSendPixelcon">
				Send PixelCon
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideSendPixelcon, 'collapseIcon':!ctrl.hideSendPixelcon}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideSendPixelcon}">
				<div class="expandContainerText textMedium textLight">
				You can send ownership of your PixelCons to someone else by navigating to the <b>PixelCon Details</b> page. On this page you will see a menu button with a drop down of actions including one to send your PixelCon to another account.
				</div>
				<img class="screenLink small md-whiteframe-3dp" src="/img/screen/screen13.png" alt="Your Account" ng-click="">
			</div>
		</div>
		<div class="centerContent expandContainer">
			<div class="expandContainerTitle textLarge textBold textLight clickable" ng-click="ctrl.hideCreateCollection = !ctrl.hideCreateCollection">
				Create Collection
				<div class="iconImg" ng-class="{'expandIcon':ctrl.hideCreateCollection, 'collapseIcon':!ctrl.hideCreateCollection}"></div>
			</div>
			<div class="expandContainerContent" ng-class="{'hidden':ctrl.hideCreateCollection}">
				<div class="expandContainerText textMedium textLight">
				At the top of the <b>Account</b> page, there is a toggle to switch to the creator view. From this view you can can create collections by clicking the create collection button and selecting the PixelCons you want to be grouped into a collection. You can only select PixelCons that you own and are not already in a collection.
				</div>
				<img class="screenLink md-whiteframe-3dp" src="/img/screen/screen14.png" alt="Your Account" ng-click="">
			</div>
		</div>
		
		<br/><br/>
	</div>
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
